In [181]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import cross_val_score
from sklearn import metrics

import os, sys, pickle
import matplotlib.pyplot as plt
from datetime import date
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
import datetime

In [91]:
dfon = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/o2ocoupon/ccf_online_stage1_train.csv')
dfoff = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/o2ocoupon/ccf_offline_stage1_train.csv')
dftest = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/o2ocoupon/ccf_offline_stage1_test_revised.csv')

In [92]:
# 生成一个无效日期
date_null = pd.to_datetime('1970-01-01', format='%Y-%m-%d')
date_null

Timestamp('1970-01-01 00:00:00')

In [94]:
# 收到优惠券日期预处理 - 处理为日期格式
def dateprocess(row):
    if pd.isnull(row):
        return date_null
    else:
        return pd.to_datetime(str(int(row)), format='%Y-%m-%d')

dfoff.Date_received = dfoff.Date_received.apply(dateprocess)
dfoff.Date = dfoff.Date.apply(dateprocess)
dftest.Date_received = dftest.Date_received.apply(dateprocess)

In [95]:
dfoff.Distance.fillna(11, inplace=True)
dfoff.Distance = dfoff.Distance.astype(int)
dfoff.Coupon_id.fillna(0, inplace=True)
dfoff.Coupon_id = dfoff.Coupon_id.astype(int)
# dfoff.Date_received.fillna(date_null, inplace=True)
# dfoff.Date.fillna(date_null, inplace=True)


dftest.Distance.fillna(11, inplace=True)
dftest.Distance = dftest.Distance.astype(int)
dftest.Coupon_id.fillna(0, inplace=True)
dftest.Coupon_id = dftest.Coupon_id.astype(int)
# dftest.Date_received.fillna(date_null, inplace=True)

In [117]:
# 复制一个df 用来保存生成的特征，不要影响到原始df 
df_F_off = dfoff.copy()
df_F_test = dftest.copy()

In [78]:
print(dfoff.head(5))
print(dftest.head(5))

   User_id  Merchant_id  Coupon_id Discount_rate  Distance Date_received  \
0  1439408         2632          0           NaN         0    1970-01-01
1  1439408         4663      11002        150:20         1    2016-05-28
2  1439408         2632       8591          20:1         0    2016-02-17
3  1439408         2632       1078          20:1         0    2016-03-19
4  1439408         2632       8591          20:1         0    2016-06-13

                  Date
0          2.01602e+07
1  1970-01-01 00:00:00
2  1970-01-01 00:00:00
3  1970-01-01 00:00:00
4  1970-01-01 00:00:00
   User_id  Merchant_id  Coupon_id Discount_rate  Distance Date_received
0  4129537          450       9983          30:5         1    2016-07-12
1  6949378         1300       3429          30:5        11    2016-07-06
2  2166529         7113       6928        200:20         5    2016-07-27
3  2166529         7113       1808        100:10         5    2016-07-27
4  6172162         7605       6500          30:1         2    2016-07-08

In [79]:
dfoff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754884 entries, 0 to 1754883
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Coupon_id        int32
Discount_rate    object
Distance         int32
Date_received    datetime64[ns]
Date             object
dtypes: datetime64[ns](1), int32(2), int64(2), object(2)
memory usage: 80.3+ MB

In [80]:
print('有优惠券，购买商品条数，label 1', dfoff[(dfoff['Date_received'] != date_null) & (dfoff['Date'] != date_null)].shape[0])
print('无优惠券，购买商品条数', dfoff[(dfoff['Date_received'] == date_null) & (dfoff['Date'] != date_null)].shape[0])
print('有优惠券，不购买商品条数，label 0', dfoff[(dfoff['Date_received'] != date_null) & (dfoff['Date'] == date_null)].shape[0])
print('无优惠券，不购买商品条数', dfoff[(dfoff['Date_received'] == date_null) & (dfoff['Date'] == date_null)].shape[0])

有优惠券，购买商品条数，label 1 75382
无优惠券，购买商品条数 701602
有优惠券，不购买商品条数，label 0 977900
无优惠券，不购买商品条数 0

In [85]:
# 在测试集中出现的用户但训练集没有出现
out_train_in_test_user = set(dftest['User_id']) - set(dfoff['User_id'])
print('1. User_id not in training set but in test set', out_train_in_test_user, 'conut:', len(out_train_in_test_user))
# 在测试集中出现的商户但训练集没有出现
out_train_in_test_merchant = set(dftest['Merchant_id']) - set(dfoff['Merchant_id'])
print('2. Merchant_id not in training set but in test set', out_train_in_test_merchant, 'conut:', len(out_train_in_test_merchant))
# 在测试集中出现的优惠券但训练集没有出现
out_train_in_test_coupon = set(dftest['Coupon_id']) - set(dfoff['Coupon_id'])
print('2. Coupon_id not in training set but in test set', out_train_in_test_coupon, 'conut:', len(out_train_in_test_coupon))

1. User_id not in training set but in test set {2495873, 1286474} conut: 2
2. Merchant_id not in training set but in test set {5920} conut: 1
2. Coupon_id not in training set but in test set {6146, 12291, 7, 8, 4104, 14, 10254, 4111, 8209, 6161, 20, 6166, 12311, 10264, 2072, 6167, 31, 8224, 12321, 34, 12323, 6176, 2089, 10285, 2095, 2096, 8242, 6199, 4153, 2106, 10299, 10303, 10306, 4174, 85, 6233, 10331, 8285, 2142, 8287, 8289, 2147, 10342, 105, 2158, 113, 8306, 6258, 4217, 2178, 12428, 6285, 2192, 4241, 8338, 4251, 6299, 2206, 4256, 2209, 4257, 12455, 170, 172, 2224, 12465, 10418, 180, 4277, 6326, 8375, 4279, 10425, 6329, 10431, 4289, 4290, 10437, 10438, 8391, 6344, 2251, 8404, 10453, 12509, 8415, 8424, 232, 8426, 12522, 236, 6377, 2286, 12529, 4339, 2292, 6390, 10489, 6393, 251, 253, 10493, 259, 8453, 2309, 4357, 10505, 4361, 4362, 12559, 8464, 4369, 10521, 8479, 4383, 8482, 294, 297, 8490, 6445, 8499, 10547, 2357, 4403, 10551, 4405, 8506, 10554, 10558, 4415, 320, 6465, 327, 10567, 10568, 8523, 12619, 2381, 4427, 10575, 4431, 4433, 6477, 6480, 8533, 6487, 2395, 4446, 351, 2399, 6498, 4454, 4455, 360, 4456, 6505, 363, 6506, 2414, 369, 10609, 8568, 10618, 2435, 6532, 2440, 12681, 4491, 398, 10639, 2450, 4498, 8596, 10645, 4502, 6552, 409, 12700, 4509, 10654, 2467, 12713, 429, 2490, 8635, 12735, 4546, 10694, 2503, 8648, 12745, 461, 2509, 2511, 10703, 6609, 8659, 4563, 6614, 2521, 6619, 8676, 490, 6647, 12792, 6648, 10746, 507, 6653, 10750, 8703, 2565, 4613, 6662, 2570, 12811, 8717, 12814, 10771, 535, 10776, 540, 10781, 8739, 12836, 10793, 2602, 4649, 8750, 12846, 12848, 6703, 6705, 4661, 10807, 568, 6711, 8764, 2621, 574, 2623, 2624, 10817, 10818, 8771, 8772, 4679, 8779, 8780, 2637, 6733, 2639, 594, 8786, 6738, 6740, 10842, 4698, 6746, 8797, 10845, 6747, 6749, 2657, 2658, 10852, 613, 614, 8806, 615, 10855, 2664, 4714, 8812, 4717, 622, 12914, 10867, 12918, 632, 6777, 6780, 641, 644, 2693, 4741, 10887, 8840, 649, 12938, 10899, 4756, 8853, 662, 10903, 10906, 12954, 6811, 2719, 6818, 2723, 12963, 10919, 8872, 2730, 10925, 12973, 4785, 8886, 8890, 699, 700, 12991, 4800, 708, 8901, 12996, 8903, 2760, 4805, 4806, 4810, 8908, 4811, 719, 8911, 8915, 8921, 13022, 2784, 6882, 6883, 2795, 4844, 4850, 4851, 4854, 761, 764, 2812, 4863, 4864, 6911, 11014, 8967, 11017, 13067, 785, 2838, 791, 2844, 807, 2856, 809, 4912, 4914, 9012, 11060, 11062, 9016, 825, 4924, 11069, 9024, 9027, 838, 11083, 11084, 13131, 6990, 2899, 11093, 7005, 864, 13153, 866, 7012, 7013, 7014, 9063, 2920, 13164, 4972, 878, 11119, 880, 11124, 2934, 4987, 2941, 13181, 13183, 896, 9088, 4993, 7040, 7043, 901, 7045, 13192, 905, 11146, 5004, 5008, 914, 7058, 11156, 7059, 7060, 9111, 921, 13210, 9116, 5023, 7072, 2978, 9125, 7083, 940, 13230, 13231, 9136, 11184, 13234, 9140, 7093, 9143, 7096, 5052, 9149, 13246, 7101, 9152, 11200, 7110, 3016, 5065, 3018, 3021, 7117, 11216, 5072, 13267, 3028, 3029, 11221, 9175, 7123, 9179, 988, 9181, 9183, 11232, 5089, 994, 5091, 7138, 11239, 9193, 1003, 1004, 11243, 5099, 5100, 13293, 3057, 1010, 7147, 13302, 7160, 11261, 13309, 1023, 13311, 11266, 3074, 11270, 1031, 1032, 3080, 5126, 9227, 3084, 13320, 13330, 3093, 9238, 3095, 5148, 1053, 3102, 9252, 13350, 3112, 3113, 7209, 1067, 3115, 13357, 13360, 1079, 11319, 9273, 11322, 3131, 5178, 3134, 1089, 7233, 1092, 9288, 5194, 11340, 7244, 7245, 3157, 3159, 5208, 7255, 9306, 5215, 3169, 5218, 5224, 13416, 3180, 5229, 1135, 5231, 1137, 1138, 13424, 5235, 13431, 5245, 13440, 7296, 13444, 11400, 7307, 7310, 1170, 11410, 3221, 9370, 1191, 9385, 11436, 7341, 5294, 5299, 11447, 9400, 9401, 7353, 11452, 3261, 5311, 11456, 3264, 13506, 3268, 1223, 13513, 11467, 9420, 9422, 7375, 9424, 11473, 7378, 11483, 13535, 3299, 9444, 5349, 11494, 7398, 13547, 13548, 13549, 5365, 9462, 1271, 11512, 9465, 5370, 7417, 3331, 9477, 9478, 9479, 3336, 7437, 11535, 1297, 1298, 13586, 11541, 9498, 1309, 3357, 7453, 13600, 13602, 7459, 11556, 5412, 3366, 13614, 9523, 5428, 7475, 9529, 13627, 5438, 3391, 13630, 3393, 1348, 9543, 7499, 9548, 5452, 13648, 3409, 11602, 5457, 9559, 5463, 9562, 9565, 3421, 13662, 3424, 7519, 9573, 3429, 13669, 13670, 5482, 3438, 1391, 13678, 5488, 7535, 1395, 3443, 3445, 1399, 11639, 1402, 1403, 11642, 11646, 13696, 13700, 7557, 13702, 11656, 1419, 9612, 1420, 3468, 5516, 9617, 3473, 9619, 3475, 9622, 3482, 3484, 1438, 11682, 13731, 5547, 9648, 11696, 5554, 3515, 3518, 9666, 9667, 1490, 7635, 5593, 7642, 1502, 13790, 9700, 3556, 1510, 5608, 3561, 7657, 13803, 7658, 13805, 7662, 13807, 13813, 9718, 1528, 7673, 1530, 9723, 11770, 13821, 11778, 9731, 1540, 13831, 3594, 1550, 3603, 13843, 11799, 13849, 1562, 11802, 7706, 11806, 3619, 7715, 1573, 1574, 5669, 13863, 5673, 13870, 9775, 1587, 3636, 1591, 3639, 3640, 1595, 9790, 3647, 11840, 9793, 13890, 1606, 9798, 5702, 3657, 9803, 7763, 7766, 3671, 11876, 9829, 13926, 7782, 3688, 1642, 3692, 3693, 13933, 5743, 7788, 1650, 9843, 11892, 1653, 11894, 5750, 13946, 13950, 7809, 3716, 7814, 13963, 1678, 7826, 7831, 5785, 1690, 3738, 3742, 11935, 3744, 13983, 9894, 11943, 13991, 13993, 3758, 1711, 9905, 1715, 3764, 1717, 14003, 7861, 5816, 1721, 11962, 9916, 3773, 14014, 3777, 7873, 1733, 14024, 5832, 9934, 1742, 14030, 5840, 11986, 1747, 5841, 14034, 9942, 9943, 11991, 14040, 3806, 1759, 5858, 7907, 3814, 9959, 1776, 1778, 1780, 1784, 9977, 5882, 12027, 7928, 7931, 9983, 9989, 5895, 12044, 9998, 5902, 3857, 1813, 5911, 12057, 12058, 1820, 3868, 12061, 7965, 3874, 10022, 10026, 3883, 12076, 5933, 5938, 1849, 3903, 3905, 5955, 8007, 10056, 10059, 3915, 5965, 3918, 10063, 8012, 5969, 1874, 1879, 3930, 3931, 3944, 5993, 3946, 8042, 1904, 10096, 12144, 3953, 1913, 1914, 12154, 8057, 8059, 6017, 10121, 3977, 10126, 12177, 10132, 6040, 3993, 10138, 8092, 6059, 4013, 6062, 4015, 12208, 12209, 6063, 12211, 8114, 10168, 12216, 10171, 6075, 6079, 12229, 12232, 12233, 8138, 4046, 8151, 12250, 4060, 2013, 4061, 10210, 2020, 6120, 10217, 4074, 8170, 8171, 2033, 6129, 2036, 6132, 4087, 4089} conut: 932

说明大部分测试集中的商户和用户都是训练集中的元素

In [82]:
print('Discount_rate 类型:',dfoff['Discount_rate'].unique())
print('Distance 类型:', dfoff['Distance'].unique())
print('Coupon_id 类型:', dfoff['Coupon_id'].unique())

Discount_rate 类型: [nan '150:20' '20:1' '200:20' '30:5' '50:10' '10:5' '100:10' '200:30'
 '20:5' '30:10' '50:5' '150:10' '100:30' '200:50' '100:50' '300:30'
 '50:20' '0.9' '10:1' '30:1' '0.95' '100:5' '5:1' '100:20' '0.8' '50:1'
 '200:10' '300:20' '100:1' '150:30' '300:50' '20:10' '0.85' '0.6' '150:50'
 '0.75' '0.5' '200:5' '0.7' '30:20' '300:10' '0.2' '50:30' '200:100'
 '150:5']
Distance 类型: [ 0  1 11  2 10  4  7  9  3  5  6  8]
Coupon_id 类型: [    0 11002  8591 ...  8580  9782  6757]

优惠券描述有两种形式，满减与直接打折 - 不一样的特征

In [119]:
df_F_off

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,weekday,day,c1,c2
0,1439408,2632,0,NaN,0,1970-01-01,2016-02-17,3,1,0,0
1,1439408,4663,11002,150:20,1,2016-05-28,1970-01-01,5,28,150,20
2,1439408,2632,8591,20:1,0,2016-02-17,1970-01-01,2,17,20,1
3,1439408,2632,1078,20:1,0,2016-03-19,1970-01-01,5,19,20,1
4,1439408,2632,8591,20:1,0,2016-06-13,1970-01-01,0,13,20,1
5,1439408,2632,0,NaN,0,1970-01-01,2016-05-16,3,1,0,0
6,1439408,2632,8591,20:1,0,2016-05-16,2016-06-13,0,16,20,1
7,1832624,3381,7610,200:20,0,2016-04-29,1970-01-01,4,29,200,20
8,2029232,3381,11951,200:20,1,2016-01-29,1970-01-01,4,29,200,20
9,2029232,450,1532,30:5,0,2016-05-30,1970-01-01,0,30,30,5
10,2029232,6459,12737,20:1,0,2016-05-19,1970-01-01,3,19,20,1
11,2029232,6459,0,NaN,0,1970-01-01,2016-06-26,3,1,0,0
12,2029232,6459,0,NaN,0,1970-01-01,2016-05-19,3,1,0,0
13,2747744,6901,1097,50:10,11,2016-06-06,1970-01-01,0,6,50,10
14,196342,1579,0,NaN,1,1970-01-01,2016-06-06,3,1,0,0
15,196342,1579,10698,20:1,1,2016-06-06,1970-01-01,0,6,20,1
16,2223968,3381,9776,10:5,2,2016-01-29,1970-01-01,4,29,10,5
17,73611,2099,12034,100:10,11,2016-02-07,1970-01-01,6,7,100,10
18,163606,1569,5054,200:30,10,2016-04-21,1970-01-01,3,21,200,30
19,3273056,4833,7802,200:20,10,2016-01-30,1970-01-01,5,30,200,20
20,94107,3381,7610,200:20,2,2016-04-12,1970-01-01,1,12,200,20
21,253750,8390,0,NaN,0,1970-01-01,2016-03-27,3,1,0,0
22,253750,6901,2366,30:5,0,2016-05-18,1970-01-01,2,18,30,5
23,253750,8390,7531,20:5,0,2016-03-27,1970-01-01,6,27,20,5
24,343660,4663,11002,150:20,11,2016-05-28,1970-01-01,5,28,150,20
25,376492,1041,13490,30:5,2,2016-01-27,1970-01-01,2,27,30,5
26,1964720,7884,0,NaN,10,1970-01-01,2016-01-15,3,1,0,0
27,1964720,7884,6704,20:1,10,2016-02-15,1970-01-01,0,15,20,1
28,4191584,3051,0,NaN,0,1970-01-01,2016-05-19,3,1,0,0
29,4191584,3051,0,NaN,0,1970-01-01,2016-05-16,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1754854,179830,6284,4567,50:10,1,2016-01-24,1970-01-01,6,24,50,10
1754855,179830,6284,7379,50:10,1,2016-01-24,1970-01-01,6,24,50,10
1754856,179830,3710,13056,150:10,4,2016-01-24,1970-01-01,6,24,150,10
1754857,179830,2099,12034,100:10,1,2016-01-24,1970-01-01,6,24,100,10
1754858,179830,4660,1480,100:10,0,2016-01-25,1970-01-01,0,25,100,10
1754859,179830,5341,7751,50:10,0,2016-01-23,1970-01-01,5,23,50,10
1754860,179830,7555,17,30:5,7,2016-01-23,1970-01-01,5,23,30,5
1754861,179830,760,3237,20:5,0,2016-01-24,1970-01-01,6,24,20,5
1754862,179830,2099,12034,100:10,1,2016-02-03,1970-01-01,2,3,100,10
1754863,343276,4206,0,NaN,5,1970-01-01,2016-04-25,3,1,0,0
1754864,653784,195,0,NaN,0,1970-01-01,2016-04-18,3,1,0,0
1754865,653784,195,0,NaN,0,1970-01-01,2016-04-16,3,1,0,0
1754866,3795296,5341,111,30:5,0,2016-01-29,1970-01-01,4,29,30,5
1754867,188086,6568,0,NaN,0,1970-01-01,2016-04-15,3,1,0,0
1754868,188086,6568,0,NaN,0,1970-01-01,2016-06-26,3,1,0,0
1754869,188086,6568,4723,30:1,0,2016-04-15,1970-01-01,4,15,30,1
1754870,188086,6568,0,NaN,0,1970-01-01,2016-04-17,3,1,0,0
1754871,188086,6568,0,NaN,0,1970-01-01,2016-06-04,3,1,0,0
1754872,212662,3532,0,NaN,1,1970-01-01,2016-03-08,3,1,0,0
1754873,212662,2934,5686,30:5,2,2016-03-21,2016-03-30,0,21,30,5
1754874,212662,2934,0,NaN,2,1970-01-01,2016-05-13,3,1,0,0
1754875,212662,2934,0,NaN,2,1970-01-01,2016-05-12,3,1,0,0
1754876,212662,3532,5267,30:5,1,2016-03-22,1970-01-01,1,22,30,5
1754877,212662,3021,3739,30:1,6,2016-05-04,2016-05-08,2,4,30,1
1754878,212662,2934,5686,30:5,2,2016-03-21,2016-03-22,0,21,30,5
1754879,212662,3532,0,NaN,1,1970-01-01,2016-03-22,3,1,0,0
1754880,212662,3021,3739,30:1,6,2016-05-08,2016-06-02,6,8,30,1
1754881,212662,2934,0,NaN,2,1970-01-01,2016-03-21,3,1,0,0
1754882,752472,7113,1633,50:10,6,2016-06-13,1970-01-01,0,13,50,10
1754883,752472,3621,2705,20:5,0,2016-05-23,1970-01-01,0,23,20,5

In [142]:
# 对优惠券描述列进行初步特征提取 - c

def feature_off(df):
    
    # 辅助df 满足特定条件的子df
    # 优惠券编号不为0
    temp = dfoff[dfoff.Coupon_id != 0]
    # 收到消费券且消费
    coupon_consume = temp[temp.Date != date_null]
    # 收到消费券但未消费
    coupon_no_consume = temp[temp.Date == date_null]
    # 收到消费券且消费的以用户为聚合列的聚合对象
    user_coupon_consume = coupon_consume.groupby('User_id')
    # 生成收到消费券星期列
    df['weekday'] = df.Date_received.dt.weekday
    # 生成收到消费券日列
    df['day'] = df.Date_received.dt.day
    
    
    '''offline coupon features'''
    # 辅助函数
    def getDiscountType(row):
        if pd.isnull(row):
            return np.nan
        elif ':' in str(row):
            return 1
        else:
            return 0

    def convertRate(row):
        if pd.isnull(row):
            return 1.0
        elif ':' in str(row):
            rows = row.split(':')
            return 1.0 - float(rows[1])/float(rows[0])
        else:
            return float(row)

    def getDiscountMan(row):
        if ':' in str(row):
            rows = row.split(':')
            return int(rows[0])
        else:
            return 0

    def getDiscountJian(row):
        if ':' in str(row):
            rows = row.split(':')
            return int(rows[1])
        else:
            return 0
    
    # 满减的满值
    df['c1'] = df['Discount_rate'].apply(getDiscountMan)
    
    # 满减的减值
    df['c2'] = df['Discount_rate'].apply(getDiscountJian)
    
    # 折扣率
    df['c3'] = df['Discount_rate'].apply(convertRate)
    
    # 优惠类型 - 满减1 打折0
    df['c4'] = 0
    df.loc[df.Discount_rate.str.contains(':') == True, 'c4'] = 1
    
    # 优惠券发行次数
    temp = dfoff[dfoff.Coupon_id != 0].groupby('Coupon_id').size().reset_index(name='c5') # 计数专用，只会生成计数列一列，不用count()
    df = pd.merge(df, temp, how='left', on='Coupon_id')
    
    # 某优惠券一共被使用多少张
    temp = coupon_consume.groupby('Coupon_id').size().reset_index(name='c6')
    df = pd.merge(df, temp, how='left', on='Coupon_id')
    
    # 某优惠券使用率
    df['c7'] = df.c6 / df.c5
    
    # 某优惠券没有使用的数目
    df['c8'] = df.c5 - df.c6
    
    # 某优惠券在当天发行了多少张
    temp = dfoff.groupby(['Coupon_id', 'Date_received']).size().reset_index(name='c9') # 某优惠券+某天 作为唯一键
    df = pd.merge(df, temp, how='left', on=['Coupon_id', 'Date_received'])
    
    # 不同打折优惠券领取次数
    temp = dfoff.groupby('Discount_rate').size().reset_index(name='c10')
    df = pd.merge(df, temp, how='left', on='Discount_rate')

    # 不同打折优惠券使用次数
    temp = coupon_consume.groupby('Discount_rate').size().reset_index(name='c11')
    df = pd.merge(df, temp, how='left', on='Discount_rate')

    # 不同打折优惠券不使用次数
    df['c12'] = df.c10 - df.c11
    
    # 不同打折优惠券使用率
    df['c13'] = df.c11 / df.c10
    
    # 优惠券核销最早最晚天数差 & 优惠券核销平均时间？
    temp = coupon_consume.groupby('Coupon_id').Date.max().reset_index(name='max') # 某优惠券最后核销时间
    temp = pd.merge(coupon_consume, temp)
    temp_1 = coupon_consume.groupby('Coupon_id').Date.min().reset_index(name='min') # 某优惠券最早核销时间
    temp = pd.merge(temp, temp_1)
    temp_2 = coupon_consume.groupby('Coupon_id').size().reset_index(name='count') # 某优惠券核销次数
    temp = pd.merge(temp, temp_2)
    temp['c14'] = (temp['max'] - temp['min']).dt.days
    temp['c15'] = ((temp['max'] - temp['min']).dt.days / (temp['count'] - 1)) # 为什么减一？
    temp = temp.drop_duplicates('Coupon_id')
    df = pd.merge(df, temp[['Coupon_id', 'c14', 'c15']], how='left', on='Coupon_id')

    '''user features'''
    # 用户消费优惠券次数
    temp = user_coupon_consume.size().reset_index(name='u1')
    df = pd.merge(df, temp, how='left', on='User_id')
    # X.u2.fillna(0, inplace=True)
    # X.u2 = X.u2.astype(int)

    # 用户领取优惠券不消费次数
    temp = coupon_no_consume.groupby('User_id').size().reset_index(name='u2')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户领取优惠券并消费比领取未消费
    df['u3'] = df.u1 / df.u2

    # 用户领取优惠券次数
    df['u4'] = df.u1.fillna(0) + df.u2.fillna(0)

    # 用户的优惠券核销率
    df['u4'] = df.u1 / df.u4

    # 普通消费次数 - 没领取优惠券但消费
    temp = dfoff[(dfoff.Coupon_id == 0) & (dfoff.Date != date_null)]
    temp1 = temp.groupby('User_id').size().reset_index(name='u5')
    df = pd.merge(df, temp1, how='left', on='User_id')

    # 用户一共消费多少次
    df['u6'] = df.u1 + df.u5

    # 用户使用优惠券消费占比
    df['u7'] = df.u1 / df.u6

    # 用户正常消费最长间隔 & 平均间隔
    temp = dfoff[dfoff.Date != date_null]
    temp = pd.merge(temp, temp.groupby('User_id').Date.max().reset_index(name='max'))
    temp = pd.merge(temp, temp.groupby('User_id').Date.min().reset_index(name='min'))
    temp = pd.merge(temp, temp.groupby('User_id').size().reset_index(name='count'))
    temp['u8'] = (temp['max'] - temp['min']).dt.days
    temp['u9'] = ((temp['max'] - temp['min']).dt.days / (temp['count'] - 1))
    temp = temp.drop_duplicates('User_id')
    df = pd.merge(df, temp[['User_id', 'u8', 'u9']], how='left', on='User_id')
    
    # 用户优惠券消费最长间隔 & 平均间隔
    temp = dfoff[(dfoff.Coupon_id != 0) & (dfoff.Date != date_null)]
    temp = pd.merge(temp, temp.groupby('User_id').Date.max().reset_index(name='max'))
    temp = pd.merge(temp, temp.groupby('User_id').Date.min().reset_index(name='min'))
    temp = pd.merge(temp, temp.groupby('User_id').size().reset_index(name='count'))
    temp['u10'] = (temp['max'] - temp['min']).dt.days
    temp['u11'] = ((temp['max'] - temp['min']).dt.days / (temp['count'] - 1))
    temp = temp.drop_duplicates('User_id')
    df = pd.merge(df, temp[['User_id', 'u10', 'u11']], how='left', on='User_id')
                   
#     # 15天内平均会普通消费几次
#     X['u8'] = X.u6 / 15

#     # 15天内平均会优惠券消费几次
#     X['u9'] = X.u7 / 15

    # 用户领取优惠券到使用优惠券的 总&平均 间隔时间
    temp = coupon_consume.copy()
    temp['days'] = (temp.Date - temp.Date_received).dt.days
    temp_1 = (temp.groupby('User_id').days.sum()).reset_index(name='u12')
    temp_2 = (temp.groupby('User_id').days.sum() / temp.groupby('User_id').size()).reset_index(name='u13')
    df = pd.merge(df, temp_1, how='left', on='User_id')
    df = pd.merge(df, temp_2, how='left', on='User_id')

#     # 在15天内使用掉优惠券的值大小
#     X['u11'] = X.u10 / 15

    # 用户领取优惠券到使用优惠券间隔小于15天的次数
    temp = coupon_consume.copy()
    temp['days'] = (temp.Date - temp.Date_received).dt.days
    temp = temp[temp.days <= 15]
    temp = temp.groupby('User_id').size().reset_index(name='u14')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户领取后15天使用掉优惠券的次数除以总使用优惠券的次数
    df['u15'] = df.u14 / df.u1

    # 用户领取后15天使用掉优惠券的次数除以领取优惠券未消费的次数
    df['u16'] = df.u14 / df.u2

    # 用户15天使用掉优惠券的次数除以领取优惠券的总次数
    df['u17'] = df.u14 / df.u4

    # 用户消费优惠券的平均折率
    temp_disr = dfoff.copy() # 生成一个带折扣率的temp df
    temp_disr['discount_rate'] = temp_disr['Discount_rate'].apply(convertRate)
    
    temp = temp_disr[(dfoff.Date != date_null) & dfoff.Coupon_id != 0].groupby('User_id').discount_rate.mean().reset_index(name='u18')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户核销优惠券的最低消费折率
    temp = temp_disr[(dfoff.Date != date_null) & dfoff.Coupon_id != 0].groupby('User_id').discount_rate.min().reset_index(name='u19')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户核销优惠券的最高消费折率
    temp = temp_disr[(dfoff.Date != date_null) & dfoff.Coupon_id != 0].groupby('User_id').discount_rate.max().reset_index(name='u20')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户核销过的不同优惠券数量
    temp = coupon_consume.groupby(['User_id', 'Coupon_id']).size()
    temp = temp.groupby('User_id').size().reset_index(name='u21')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户领取过该优惠券的次数
    temp = dfoff[dfoff.Date_received != date_null]
    temp = temp.groupby(['User_id', 'Coupon_id']).size().reset_index(name='u22')
    df = pd.merge(df, temp, how='left', on=['User_id', 'Coupon_id'])
                   
    # 用户领取所有的不同优惠券数量
    temp = dfoff[dfoff.Date_received != date_null]
    temp = temp.groupby(['User_id', 'Coupon_id']).size()
    temp = temp.groupby('User_id').size().reset_index(name='u23')
    df = pd.merge(df, temp, how='left', on='User_id')

    # 用户核销过的不同优惠券数量占所有不同优惠券的比重
    df['u24'] = df.u21 / df.u23

    # 用户平均每种优惠券核销多少张
    df['u25'] = df.u1 / df.u21
                   
    # 用户每领多少种优惠券会核销一张
    df['u26'] = df.u23 / df.u1
                   
    # 用户每领多少种未来核销优惠券会核销一张
    df['u27'] = df.u21 / df.u1

##################################################################################################################

#     # 核销优惠券用户-商家平均距离
#     temp = offline[(offline.Coupon_id != 0) & (offline.Date != date_null) & (offline.Distance != 11)]
#     temp = temp.groupby('User_id').Distance
#     temp = pd.merge(temp.count().reset_index(name='x'), temp.sum().reset_index(name='y'), on='User_id')
#     temp['u35'] = temp.y / temp.x
#     temp = temp[['User_id', 'u35']]
#     X = pd.merge(X, temp, how='left', on='User_id')

#     # 用户核销优惠券中的最小用户-商家距离
#     temp = coupon_consume[coupon_consume.Distance != 11]
#     temp = temp.groupby('User_id').Distance.min().reset_index(name='u36')
#     X = pd.merge(X, temp, how='left', on='User_id')

#     # 用户核销优惠券中的最大用户-商家距离
#     temp = coupon_consume[coupon_consume.Distance != 11]
#     temp = temp.groupby('User_id').Distance.max().reset_index(name='u37')
#     X = pd.merge(X, temp, how='left', on='User_id')

#     # 优惠券类型
#     discount_types = [
#         '0.2', '0.5', '0.6', '0.7', '0.75', '0.8', '0.85', '0.9', '0.95', '30:20', '50:30', '10:5',
#         '20:10', '100:50', '200:100', '50:20', '30:10', '150:50', '100:30', '20:5', '200:50', '5:1',
#         '50:10', '100:20', '150:30', '30:5', '300:50', '200:30', '150:20', '10:1', '50:5', '100:10',
#         '200:20', '300:30', '150:10', '300:20', '500:30', '20:1', '100:5', '200:10', '30:1', '150:5',
#         '300:10', '200:5', '50:1', '100:1',
#     ]
#     X['discount_type'] = -1
#     for k, v in enumerate(discount_types):
#         X.loc[X.Discount_rate == v, 'discount_type'] = k

#     # 不同优惠券领取次数
#     temp = offline.groupby(['User_id', 'Discount_rate']).size().reset_index(name='u41')
#     X = pd.merge(X, temp, how='left', on=['User_id', 'Discount_rate'])

#     # 不同优惠券使用次数
#     temp = coupon_consume.groupby(['User_id', 'Discount_rate']).size().reset_index(name='u42')
#     X = pd.merge(X, temp, how='left', on=['User_id', 'Discount_rate'])

#     # 不同优惠券不使用次数
#     temp = coupon_no_consume.groupby(['User_id', 'Discount_rate']).size().reset_index(name='u43')
#     X = pd.merge(X, temp, how='left', on=['User_id', 'Discount_rate'])

#     # 不同打折优惠券使用率
#     X['u44'] = X.u42 / X.u41

#     # 满减类型优惠券领取次数
#     temp = offline[offline.Discount_rate.str.contains(':') == True]
#     temp = temp.groupby('User_id').size().reset_index(name='u48')
#     X = pd.merge(X, temp, how='left', on='User_id')

#     # 打折类型优惠券领取次数
#     temp = offline[offline.Discount_rate.str.contains('\.') == True]
#     temp = temp.groupby('User_id').size().reset_index(name='u49')
#     X = pd.merge(X, temp, how='left', on='User_id')


    
    return df

In [143]:
# 得到未删键的特征df
df_F_off_train = feature_off(df_F_off)
df_F_test_train = feature_off(df_F_test)

In [145]:
# 特征的列名list
feature_lst = ['c'+str(i) for i in range(1,16)]+['u'+str(i) for i in range(1,28)]

In [155]:
# 生成 训练集 与 测试集 特征矩阵
df_F_off_temp = df_F_off_train[feature_lst]
df_F_off_X = df_F_off_temp.fillna(0)

df_F_test_temp = df_F_test_train[feature_lst]
df_F_test_X = df_F_test_temp.fillna(0)

In [179]:
# 生成标签
y = df_F_off_train.copy()

y['label'] = 0
y.loc[(y.Date != date_null) & (y.Date - y.Date_received <= datetime.timedelta(15)), 'label'] = 1

labels = y['label']

In [187]:
x_train, x_valid, y_train, y_valid = train_test_split(df_F_off_X, labels, random_state=1, train_size=0.8)

D:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [188]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=25, 
                                        max_depth=5,
                                        criterion='entropy',
                                        max_features=0.8,
                                        class_weight = "balanced",
                                        oob_score=True)
model.fit(x_train, y_train)

D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:463: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='entropy', max_depth=5, max_features=0.8,
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=25, n_jobs=None, oob_score=True,
            random_state=None, verbose=0, warm_start=False)

In [189]:
# 预测以及结果评价

y_train_predict = model.predict(x_train)
y_valid_predict = model.predict(x_valid)

print('trainAccracy:',model.score(x_train,y_train))
print(classification_report(y_train,y_train_predict)) #真实数据在前 训练结果在后！
print('testAccracy:',model.score(x_valid,y_valid))
print(classification_report(y_valid,y_valid_predict))

trainAccracy: 0.9473661716908599
              precision    recall  f1-score   support

           0       1.00      0.95      0.97   1352581
           1       0.41      1.00      0.58     51326

   micro avg       0.95      0.95      0.95   1403907
   macro avg       0.70      0.97      0.78   1403907
weighted avg       0.98      0.95      0.96   1403907

testAccracy: 0.9480136875065888
              precision    recall  f1-score   support

           0       1.00      0.95      0.97    337908
           1       0.42      1.00      0.59     13069

   micro avg       0.95      0.95      0.95    350977
   macro avg       0.71      0.97      0.78    350977
weighted avg       0.98      0.95      0.96    350977

In [197]:
y_valid_predict_prob = model.predict_proba(x_valid)#基于SVM对验证集做出预测，prodict_prob_y 为预测的概率
valid_auc = metrics.roc_auc_score(y_valid,y_valid_predict_prob[:,1])#验证集上的auc值
print('valid_auc:',valid_auc)

test_auc: 0.9917851631389628

In [200]:
model_tol = model
# model_tol.fit(x_tol,y_tol)

y_test_pred = model_tol.predict_proba(df_F_test_X)

dftest_for_save = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/o2ocoupon/ccf_offline_stage1_test_revised.csv')
dftest1 = dftest_for_save[['User_id','Coupon_id','Date_received']].copy()
dftest1['label'] = y_test_pred[:,1]
dftest1.to_csv('C:/Users/jxjsj/Desktop/tianchi/o2ocoupon/submission.csv', index=False, header=False)
dftest1.head()

   User_id  Coupon_id  Date_received  label
0  4129537       9983       20160712    0.0
1  6949378       3429       20160706    0.0
2  2166529       6928       20160727    0.0
3  2166529       1808       20160727    0.0
4  6172162       6500       20160708    0.0

In [3]:
# 1. 将满xx减yy类型(`xx:yy`)的券变成折扣率 : `1 - yy/xx`，同时建立折扣券相关的特征 `discount_rate, discount_man, discount_jian, discount_type`
# 2. 将距离 `str` 转为 `int`
# convert Discount_rate and Distance
def getDiscountType(row):
    if pd.isnull(row):
        return np.nan
    elif ':' in row:
        return 1
    else:
        return 0

def convertRate(row):
    """Convert discount to rate"""
    if pd.isnull(row):
        return 1.0
    elif ':' in str(row):
        rows = row.split(':')
        return 1.0 - float(rows[1])/float(rows[0])
    else:
        return float(row)

def getDiscountMan(row):
    if ':' in str(row):
        rows = row.split(':')
        return int(rows[0])
    else:
        return 0

def getDiscountJian(row):
    if ':' in str(row):
        rows = row.split(':')
        return int(rows[1])
    else:
        return 0
print("tool is ok.")

tool is ok.

In [4]:
def processData(df):
    # convert discunt_rate
    df['discount_rate'] = df['Discount_rate'].apply(convertRate)
    df['discount_man'] = df['Discount_rate'].apply(getDiscountMan)
    df['discount_jian'] = df['Discount_rate'].apply(getDiscountJian)
    df['discount_type'] = df['Discount_rate'].apply(getDiscountType)
    print(df['discount_rate'].unique())
    # convert distance
    df['distance'] = df['Distance'].fillna(-1).astype(int)
    return df

In [5]:
# 特征生成
dfoff = processData(dfoff)
dftest = processData(dftest)

[1.         0.86666667 0.95       0.9        0.83333333 0.8
 0.5        0.85       0.75       0.66666667 0.93333333 0.7
 0.6        0.96666667 0.98       0.99       0.975      0.33333333
 0.2        0.4       ]
[0.83333333 0.9        0.96666667 0.8        0.95       0.75
 0.98       0.5        0.86666667 0.6        0.66666667 0.7
 0.85       0.33333333 0.94       0.93333333 0.975      0.99      ]

In [6]:
# 收到优惠券的日子 去重 排序
date_received = dfoff['Date_received'].unique()
date_received = sorted(date_received[pd.notnull(date_received)])

In [7]:
# 购买商品的日子 不去重 排序
date_buy = dfoff['Date'].unique()
date_buy = sorted(date_buy[pd.notnull(date_buy)])
date_buy = sorted(dfoff[dfoff['Date'].notnull()]['Date'])

In [8]:
# 对同一天收到的优惠券聚合，计数
couponbydate = dfoff[dfoff['Date_received'].notnull()
                    ][['Date_received', 'Date']].groupby(['Date_received'], as_index=False).count()
couponbydate.columns = ['Date_received','count']

In [9]:
# 对同一天收到的优惠券，且未来被花掉了聚合，计数
buybydate_temp = dfoff[(dfoff['Date'].notnull())]
buybydate = buybydate_temp[(buybydate_temp['Date_received'].notnull())][['Date_received', 'Date']].groupby(['Date_received'], as_index=False).count()
buybydate.columns = ['Date_received','count']

In [10]:
# date对象的方法weekday()返回0-6表示周一到周日
def getWeekday(row):
    if row == 'nan': # NaN被str()才可被 ==‘nan’识别
        return np.nan
    else:
        return date(int(row[0:4]), int(row[4:6]), int(row[6:8])).weekday() + 1

dfoff['weekday'] = dfoff['Date_received'].astype(str).apply(getWeekday)
dftest['weekday'] = dftest['Date_received'].astype(str).apply(getWeekday)

In [11]:
# weekday_type :  周六和周日为1，其他为0
dfoff['weekday_type'] = dfoff['weekday'].apply(lambda x : 1 if x in [6,7] else 0 )
dftest['weekday_type'] = dftest['weekday'].apply(lambda x : 1 if x in [6,7] else 0 )

In [12]:
# change weekday to one-hot encoding 
weekdaycols = ['weekday_' + str(i) for i in range(1,8)]
# tmpdf = pd.get_dummies(dfoff['weekday'].replace('nan', np.nan))
tmpdf = pd.get_dummies(dfoff['weekday'])
tmpdf.columns = weekdaycols
dfoff[weekdaycols] = tmpdf

In [13]:
tmpdf = pd.get_dummies(dftest['weekday'])
tmpdf.columns = weekdaycols
dftest[weekdaycols] = tmpdf

In [14]:
def label(row):
    if pd.isnull(row['Date_received']):
        return -1
    if pd.notnull(row['Date']):
        td = pd.to_datetime(row['Date'], format='%Y%m%d') -  pd.to_datetime(row['Date_received'], format='%Y%m%d')
        if td <= pd.Timedelta(15, 'D'):
            return 1
    return 0
dfoff['label'] = dfoff.apply(label, axis = 1)

In [15]:
# feature
original_feature_label = ['discount_rate','discount_type','discount_man', 'discount_jian','distance', 'weekday', 'weekday_type','label'] + weekdaycols
original_feature = ['discount_rate','discount_type','discount_man', 'discount_jian','distance', 'weekday', 'weekday_type'] + weekdaycols

# data split - train2train&valid
print("-----data split------")
df = dfoff[dfoff['label'] != -1].copy() # 把需要研究的对象0与1挑选出来
train = df[(df['Date_received'] < 20160516)].copy()[original_feature_label]
valid = df[(df['Date_received'] >= 20160516) & (df['Date_received'] <= 20160615)].copy()[original_feature_label]

x_train = train[original_feature]
y_train = train['label']
x_valid = valid[original_feature]
y_valid = valid['label']

print("end")

-----data split------
end

In [16]:
# tol sample
x_tol = pd.concat([x_train,x_valid],axis=0)
y_tol = pd.concat([y_train,y_valid],axis=0)

In [78]:
model = MLPClassifier(activation='tanh', 
                    solver='lbfgs',
                    alpha=1e-5,
                    hidden_layer_sizes=(len(x_train.columns),),
                    random_state=1, 
                   )
# model.fit(x_train,y_train)
model.fit(over_samples_x, over_samples_y)

KeyboardInterrupt:

In [37]:
model = SGDClassifier(
    loss='log',
    penalty='elasticnet',
    fit_intercept=True,
    max_iter=100,
    shuffle=True,
    alpha = 0.1,
    l1_ratio = 0.01,
    n_jobs=1,
    class_weight='balanced'
)
model.fit(x_train, y_train)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

SGDClassifier(alpha=0.1, average=False, class_weight='balanced',
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.01, learning_rate='optimal', loss='log', max_iter=100,
       n_iter=None, n_iter_no_change=5, n_jobs=1, penalty='elasticnet',
       power_t=0.5, random_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [42]:
model = LogisticRegression(class_weight='balanced',solver = 'lbfgs')
model.fit(x_train, y_train)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [72]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
model = GaussianNB()
# model.fit(x_train, y_train)
model.fit(over_samples_x, over_samples_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [30]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=25, 
                                        max_depth=5,
                                        criterion='entropy',
                                        max_features=0.8,
                                        class_weight = "balanced",
                                        oob_score=True)
model.fit(x_train, y_train)
# model.fit(over_samples_x, over_samples_y)

D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:463: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='entropy', max_depth=5, max_features=0.8,
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=25, n_jobs=None, oob_score=True,
            random_state=None, verbose=0, warm_start=False)

In [71]:
# 运用SMOTE改进的平衡样本
over_samples = SMOTE(random_state=11)
over_samples_x, over_samples_y = over_samples.fit_sample(x_train, y_train)

In [ ]:
from sklearn import svm
model = svm.SVC(C=2, kernel='linear', decision_function_shape='ovr',class_weight = "balanced")
model.fit(x_train, y_train)
# model.fit(over_samples_x, over_samples_y)

In [31]:
# #### 预测以及结果评价
# print(model.score(valid[original_feature], valid['label']))

y_train_predict = model.predict(x_train)
y_valid_predict = model.predict(x_valid)

print('trainAccracy:',model.score(x_train,y_train))
print(classification_report(y_train,y_train_predict)) #真实数据在前 训练结果在后！
print('testAccracy:',model.score(x_valid,y_valid))
print(classification_report(y_valid,y_valid_predict))

trainAccracy: 0.6559018653771219
              precision    recall  f1-score   support

           0       0.99      0.65      0.78    759172
           1       0.12      0.85      0.20     41524

   micro avg       0.66      0.66      0.66    800696
   macro avg       0.55      0.75      0.49    800696
weighted avg       0.94      0.66      0.75    800696

testAccracy: 0.35944589169629354
              precision    recall  f1-score   support

           0       0.96      0.31      0.47    229715
           1       0.11      0.88      0.20     22871

   micro avg       0.36      0.36      0.36    252586
   macro avg       0.54      0.59      0.33    252586
weighted avg       0.88      0.36      0.44    252586

In [32]:
y_valid_predict_prob = model.predict_proba(x_valid)#基于SVM对验证集做出预测，prodict_prob_y 为预测的概率
test_auc = metrics.roc_auc_score(y_valid,list(y_valid_predict))#验证集上的auc值
print('test_auc:',test_auc)

test_auc: 0.5921657961226938

In [32]:
list(y_valid_predict)

[0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 ...]

In [ ]:
print("---save model---")
with open('1_model.pkl', 'wb') as f:
    pickle.dump(model, f)
with open('1_model.pkl', 'rb') as f:
    model = pickle.load(f)

In [134]:
# test prediction for submission
y_test_pred = model.predict_proba(dftest[original_feature])
dftest1 = dftest[['User_id','Coupon_id','Date_received']].copy()
dftest1['label'] = y_test_pred[:,1]
dftest1.to_csv('C:/Users/jxjsj/Desktop/tianchi/submission.csv', index=False, header=False)
dftest1.head()

   User_id  Coupon_id  Date_received         label
0  4129537       9983       20160712  9.233964e-07
1  6949378       3429       20160706  1.647855e-06
2  2166529       6928       20160727  1.843014e-07
3  2166529       1808       20160727  1.896743e-07
4  6172162       6500       20160708  5.266069e-12

In [33]:
# test prediction for submission - tol sample
# model_tol = MLPClassifier(activation='tanh', 
#                     solver='lbfgs',
#                     alpha=1e-5,
#                     hidden_layer_sizes=(len(x_tol.columns)*2+1,),
#                     random_state=1, 
#                    )
model_tol = model
model_tol.fit(x_tol,y_tol)

y_test_pred = model_tol.predict_proba(dftest[original_feature])
dftest1 = dftest[['User_id','Coupon_id','Date_received']].copy()
dftest1['label'] = y_test_pred[:,1]
dftest1.to_csv('C:/Users/jxjsj/Desktop/tianchi/submission.csv', index=False, header=False)
dftest1.head()

D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:458: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
D:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:463: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

   User_id  Coupon_id  Date_received     label
0  4129537       9983       20160712  0.467298
1  6949378       3429       20160706  0.613431
2  2166529       6928       20160727  0.110725
3  2166529       1808       20160727  0.130222
4  6172162       6500       20160708  0.506071