In [1]:
import pandas as pd
import numpy as np

In [2]:
# 星期哑变量设计
time_temp = pd.date_range('1/1/2008','12/31/2019')

time_df = pd.DataFrame(time_temp,columns=['date'])

lst_week = []
n=627
while n>0:
    for i in [2,3,4,5,6,7,1]:
        lst_week.append(i)
    n-=1

week_temp = pd.get_dummies(pd.DataFrame(lst_week[:4383],columns=['week'])['week'])

time_week_temp = pd.concat([time_df,week_temp],axis=1)

time_week_temp.columns = ['date','M','Tu','W','Th',"F","Sa",'Su']

time_week_temp

           date  M  Tu  W  Th  F  Sa  Su
0    2008-01-01  0   1  0   0  0   0   0
1    2008-01-02  0   0  1   0  0   0   0
2    2008-01-03  0   0  0   1  0   0   0
3    2008-01-04  0   0  0   0  1   0   0
4    2008-01-05  0   0  0   0  0   1   0
5    2008-01-06  0   0  0   0  0   0   1
6    2008-01-07  1   0  0   0  0   0   0
7    2008-01-08  0   1  0   0  0   0   0
8    2008-01-09  0   0  1   0  0   0   0
9    2008-01-10  0   0  0   1  0   0   0
10   2008-01-11  0   0  0   0  1   0   0
11   2008-01-12  0   0  0   0  0   1   0
12   2008-01-13  0   0  0   0  0   0   1
13   2008-01-14  1   0  0   0  0   0   0
14   2008-01-15  0   1  0   0  0   0   0
15   2008-01-16  0   0  1   0  0   0   0
16   2008-01-17  0   0  0   1  0   0   0
17   2008-01-18  0   0  0   0  1   0   0
18   2008-01-19  0   0  0   0  0   1   0
19   2008-01-20  0   0  0   0  0   0   1
20   2008-01-21  1   0  0   0  0   0   0
21   2008-01-22  0   1  0   0  0   0   0
22   2008-01-23  0   0  1   0  0   0   0
23   2008-01-24  0   0  0   1  0   0   0
24   2008-01-25  0   0  0   0  1   0   0
25   2008-01-26  0   0  0   0  0   1   0
26   2008-01-27  0   0  0   0  0   0   1
27   2008-01-28  1   0  0   0  0   0   0
28   2008-01-29  0   1  0   0  0   0   0
29   2008-01-30  0   0  1   0  0   0   0
...         ... ..  .. ..  .. ..  ..  ..
4353 2019-12-02  1   0  0   0  0   0   0
4354 2019-12-03  0   1  0   0  0   0   0
4355 2019-12-04  0   0  1   0  0   0   0
4356 2019-12-05  0   0  0   1  0   0   0
4357 2019-12-06  0   0  0   0  1   0   0
4358 2019-12-07  0   0  0   0  0   1   0
4359 2019-12-08  0   0  0   0  0   0   1
4360 2019-12-09  1   0  0   0  0   0   0
4361 2019-12-10  0   1  0   0  0   0   0
4362 2019-12-11  0   0  1   0  0   0   0
4363 2019-12-12  0   0  0   1  0   0   0
4364 2019-12-13  0   0  0   0  1   0   0
4365 2019-12-14  0   0  0   0  0   1   0
4366 2019-12-15  0   0  0   0  0   0   1
4367 2019-12-16  1   0  0   0  0   0   0
4368 2019-12-17  0   1  0   0  0   0   0
4369 2019-12-18  0   0  1   0  0   0   0
4370 2019-12-19  0   0  0   1  0   0   0
4371 2019-12-20  0   0  0   0  1   0   0
4372 2019-12-21  0   0  0   0  0   1   0
4373 2019-12-22  0   0  0   0  0   0   1
4374 2019-12-23  1   0  0   0  0   0   0
4375 2019-12-24  0   1  0   0  0   0   0
4376 2019-12-25  0   0  1   0  0   0   0
4377 2019-12-26  0   0  0   1  0   0   0
4378 2019-12-27  0   0  0   0  1   0   0
4379 2019-12-28  0   0  0   0  0   1   0
4380 2019-12-29  0   0  0   0  0   0   1
4381 2019-12-30  1   0  0   0  0   0   0
4382 2019-12-31  0   1  0   0  0   0   0

[4383 rows x 8 columns]