In [2]:
import pandas as pd
import numpy as np

In [3]:
# 上证指数日对数收益率计算
SZZS = pd.read_csv('C:/Users/jxjsj/Desktop/JupyterHome/Data/SZZS080101-181101.csv',index_col=0)

SZZS_p = pd.DataFrame(SZZS['close'],index=SZZS.index)

SZZS_p['close-1'] = SZZS_p['close'].shift(1)

SZZS_lnR = pd.DataFrame(np.log(SZZS_p['close'])-np.log(SZZS_p['close-1']),index=SZZS.index,columns=['lnR']).dropna(axis=0)

SZZS_lnR_2 = pd.DataFrame(SZZS_lnR['lnR'].apply(lambda x:x*x))

SZZS_lnR_2.columns = ['lnR_2']

pd.concat([SZZS_lnR,SZZS_lnR_2],axis=1).to_csv('C:/Users/jxjsj/Desktop/JupyterHome/Data/SZZS_r.csv')

In [5]:
SZZS_r = pd.concat([SZZS_lnR,SZZS_lnR_2],axis=1)

In [4]:
# 上证指数已实现波动率计算
df_fminSZZS = pd.read_csv(r'C:\Users\jxjsj\Desktop\JupyterHome\Data\SZZS_five_min080101-181201.csv',index_col=0,header=0)

df_fminSZZS['time'] = list(df_fminSZZS.index)

df_fminSZZS['date'] = list(df_fminSZZS['time'].apply(lambda x: str(x)[:10]))

df_fminSZZS

df_fminSZZS['close-1'] = df_fminSZZS['close'].shift(1)

df_fminSZZS_lnR_temp = pd.DataFrame(np.log(df_fminSZZS['close'])-np.log(df_fminSZZS['close-1']),index=df_fminSZZS.index,columns=['lnR'])

df_fminSZZS_lnR = pd.concat([df_fminSZZS_lnR_temp,pd.DataFrame(list(df_fminSZZS['date']),columns=['date'],index=df_fminSZZS.index)],axis=1).dropna(axis=0,how='any')

df_fminSZZS_lnR['lnR^2'] = df_fminSZZS_lnR['lnR'].apply(lambda x: x*x)

groupby_temp = df_fminSZZS_lnR['lnR^2'].groupby(df_fminSZZS_lnR['date'])

groupby_df = pd.DataFrame(groupby_temp.sum())

rvSZZS = pd.DataFrame(list(groupby_temp.sum()),columns=['szzsRV'],index=groupby_df.index)

In [8]:
df_temp1 = pd.merge(SZZS_r,rvSZZS, left_index=True,right_index=True)

In [9]:
# 月份哑变量设计
time_temp = pd.date_range('1/1/2008','12/31/2019')

time_df = pd.DataFrame(time_temp,columns=['date'])

month_lst = list(time_df['date'].apply(lambda x: str(x)[5:7]))

month_df = pd.DataFrame(month_lst,columns=['month'])

month_temp = pd.get_dummies(month_df)

time_month_temp = pd.concat([time_df,month_temp],axis=1)

time_month_temp.columns = ['date','Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']

time_month = time_month_temp[['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']]

time_month.index=list(time_month_temp['date'])

           date  Jan  Feb  Mar  Apr  May  June  July  Aug  Sep  Oct  Nov  Dec
0    2008-01-01    1    0    0    0    0     0     0    0    0    0    0    0
1    2008-01-02    1    0    0    0    0     0     0    0    0    0    0    0
2    2008-01-03    1    0    0    0    0     0     0    0    0    0    0    0
3    2008-01-04    1    0    0    0    0     0     0    0    0    0    0    0
4    2008-01-05    1    0    0    0    0     0     0    0    0    0    0    0
5    2008-01-06    1    0    0    0    0     0     0    0    0    0    0    0
6    2008-01-07    1    0    0    0    0     0     0    0    0    0    0    0
7    2008-01-08    1    0    0    0    0     0     0    0    0    0    0    0
8    2008-01-09    1    0    0    0    0     0     0    0    0    0    0    0
9    2008-01-10    1    0    0    0    0     0     0    0    0    0    0    0
10   2008-01-11    1    0    0    0    0     0     0    0    0    0    0    0
11   2008-01-12    1    0    0    0    0     0     0    0    0    0    0    0
12   2008-01-13    1    0    0    0    0     0     0    0    0    0    0    0
13   2008-01-14    1    0    0    0    0     0     0    0    0    0    0    0
14   2008-01-15    1    0    0    0    0     0     0    0    0    0    0    0
15   2008-01-16    1    0    0    0    0     0     0    0    0    0    0    0
16   2008-01-17    1    0    0    0    0     0     0    0    0    0    0    0
17   2008-01-18    1    0    0    0    0     0     0    0    0    0    0    0
18   2008-01-19    1    0    0    0    0     0     0    0    0    0    0    0
19   2008-01-20    1    0    0    0    0     0     0    0    0    0    0    0
20   2008-01-21    1    0    0    0    0     0     0    0    0    0    0    0
21   2008-01-22    1    0    0    0    0     0     0    0    0    0    0    0
22   2008-01-23    1    0    0    0    0     0     0    0    0    0    0    0
23   2008-01-24    1    0    0    0    0     0     0    0    0    0    0    0
24   2008-01-25    1    0    0    0    0     0     0    0    0    0    0    0
25   2008-01-26    1    0    0    0    0     0     0    0    0    0    0    0
26   2008-01-27    1    0    0    0    0     0     0    0    0    0    0    0
27   2008-01-28    1    0    0    0    0     0     0    0    0    0    0    0
28   2008-01-29    1    0    0    0    0     0     0    0    0    0    0    0
29   2008-01-30    1    0    0    0    0     0     0    0    0    0    0    0
...         ...  ...  ...  ...  ...  ...   ...   ...  ...  ...  ...  ...  ...
4353 2019-12-02    0    0    0    0    0     0     0    0    0    0    0    1
4354 2019-12-03    0    0    0    0    0     0     0    0    0    0    0    1
4355 2019-12-04    0    0    0    0    0     0     0    0    0    0    0    1
4356 2019-12-05    0    0    0    0    0     0     0    0    0    0    0    1
4357 2019-12-06    0    0    0    0    0     0     0    0    0    0    0    1
4358 2019-12-07    0    0    0    0    0     0     0    0    0    0    0    1
4359 2019-12-08    0    0    0    0    0     0     0    0    0    0    0    1
4360 2019-12-09    0    0    0    0    0     0     0    0    0    0    0    1
4361 2019-12-10    0    0    0    0    0     0     0    0    0    0    0    1
4362 2019-12-11    0    0    0    0    0     0     0    0    0    0    0    1
4363 2019-12-12    0    0    0    0    0     0     0    0    0    0    0    1
4364 2019-12-13    0    0    0    0    0     0     0    0    0    0    0    1
4365 2019-12-14    0    0    0    0    0     0     0    0    0    0    0    1
4366 2019-12-15    0    0    0    0    0     0     0    0    0    0    0    1
4367 2019-12-16    0    0    0    0    0     0     0    0    0    0    0    1
4368 2019-12-17    0    0    0    0    0     0     0    0    0    0    0    1
4369 2019-12-18    0    0    0    0    0     0     0    0    0    0    0    1
4370 2019-12-19    0    0    0    0    0     0     0    0    0    0    0    1
4371 2019-12-20    0    0    0    0    0     0     0    0    0    0    0    1
4372 2019-12-21    0    0    0    0    0     0     0    0    0    0    0    1
4373 2019-12-22    0    0    0    0    0     0     0    0    0    0    0    1
4374 2019-12-23    0    0    0    0    0     0     0    0    0    0    0    1
4375 2019-12-24    0    0    0    0    0     0     0    0    0    0    0    1
4376 2019-12-25    0    0    0    0    0     0     0    0    0    0    0    1
4377 2019-12-26    0    0    0    0    0     0     0    0    0    0    0    1
4378 2019-12-27    0    0    0    0    0     0     0    0    0    0    0    1
4379 2019-12-28    0    0    0    0    0     0     0    0    0    0    0    1
4380 2019-12-29    0    0    0    0    0     0     0    0    0    0    0    1
4381 2019-12-30    0    0    0    0    0     0     0    0    0    0    0    1
4382 2019-12-31    0    0    0    0    0     0     0    0    0    0    0    1

[4383 rows x 13 columns]

In [18]:
df_temp2 = pd.merge(df_temp1,time_month, left_index=True,right_index=True)

In [23]:
# 星期哑变量设计
time_temp = pd.date_range('1/1/2008','12/31/2019')

time_df = pd.DataFrame(time_temp,columns=['date'])

lst_week = []
n=627
while n>0:
    for i in [2,3,4,5,6,7,1]:
        lst_week.append(i)
    n-=1

week_temp = pd.get_dummies(pd.DataFrame(lst_week[:4383],columns=['week'])['week'])

time_week_temp = pd.concat([time_df,week_temp],axis=1)

time_week_temp.columns = ['date','M','Tu','W','Th',"F","Sa",'Su']

time_week = time_week_temp[['M','Tu','W','Th',"F","Sa",'Su']]

time_week.index=list(time_week_temp['date'])

In [24]:
df_temp3 = pd.merge(df_temp2,time_week, left_index=True,right_index=True)

In [38]:
# 休市天数计算
import datetime
notrade = pd.DataFrame(list(SZZS.index),columns=['date'])

notrade['date-1'] = notrade['date'].shift(1)

notrade = notrade.dropna(axis=0,how='any')

notrade_daycnt_temp = pd.DataFrame(notrade['date']+notrade['date-1'],columns=['daycnt'])

notrade_daycnt_lst = list(
    notrade_daycnt_temp['daycnt'].apply(
    lambda x: (datetime.datetime.strptime(x[:10], "%Y-%m-%d")-datetime.datetime.strptime(x[10:20], "%Y-%m-%d")).days-1
                         ))

notrade_daycnt = pd.DataFrame(notrade_daycnt_lst,columns=['ntd_cnt'])
notrade_daycnt.index = list(notrade['date'])

In [39]:
df_temp4 = pd.merge(df_temp3,notrade_daycnt, left_index=True,right_index=True)

In [40]:
df_temp4.to_csv('C:/Users/jxjsj/Desktop/JupyterHome/Data/SZZS_lnr_rv_w_m_ntd_080101-181101.csv')