In [25]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# 上证指数日对数收益率计算
SZZS = pd.read_csv('C:/Users/jxjsj/Desktop/JupyterHome/Data/SZZS080101-181101.csv',index_col=0)

In [ ]:
# 休市天数计算
notrade = pd.DataFrame(list(SZZS.index),columns=['date'])

notrade['date-1'] = notrade['date'].shift(1)

notrade = notrade.dropna(axis=0,how='any')

notrade_daycnt_temp = pd.DataFrame(notrade['date']+notrade['date-1'],columns=['daycnt'])

notrade_daycnt_lst = list(
    notrade_daycnt_temp['daycnt'].apply(
    lambda x: (datetime.datetime.strptime(x[:10], "%Y-%m-%d")-datetime.datetime.strptime(x[10:20], "%Y-%m-%d")).days-1
                         ))

notrade_daycnt = pd.DataFrame(notrade_daycnt_lst,columns=['ntd_cnt'])
notrade_daycnt.index = list(notrade['date'])

In [40]:
notrade_daycnt

            ntd_cnt
2008-01-03        0
2008-01-04        0
2008-01-07        2
2008-01-08        0
2008-01-09        0
2008-01-10        0
2008-01-11        0
2008-01-14        2
2008-01-15        0
2008-01-16        0
2008-01-17        0
2008-01-18        0
2008-01-21        2
2008-01-22        0
2008-01-23        0
2008-01-24        0
2008-01-25        0
2008-01-28        2
2008-01-29        0
2008-01-30        0
2008-01-31        0
2008-02-01        0
2008-02-04        2
2008-02-05        0
2008-02-13        7
2008-02-14        0
2008-02-15        0
2008-02-18        2
2008-02-19        0
2008-02-20        0
...             ...
2018-09-13        0
2018-09-14        0
2018-09-17        2
2018-09-18        0
2018-09-19        0
2018-09-20        0
2018-09-21        0
2018-09-25        3
2018-09-26        0
2018-09-27        0
2018-09-28        0
2018-10-08        9
2018-10-09        0
2018-10-10        0
2018-10-11        0
2018-10-12        0
2018-10-15        2
2018-10-16        0
2018-10-17        0
2018-10-18        0
2018-10-19        0
2018-10-22        2
2018-10-23        0
2018-10-24        0
2018-10-25        0
2018-10-26        0
2018-10-29        2
2018-10-30        0
2018-10-31        0
2018-11-01        0

[2635 rows x 1 columns]