In [98]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import cross_val_score

import os, sys, pickle
import matplotlib.pyplot as plt
from datetime import date
from sklearn.linear_model import SGDClassifier

In [11]:
dfon = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/ccf_online_stage1_train.csv')

In [12]:
dfoff = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/ccf_offline_stage1_train.csv')

In [13]:
dftest = pd.read_csv('C:/Users/jxjsj/Desktop/tianchi/ccf_offline_stage1_test_revised.csv')

In [14]:
# 1. 将满xx减yy类型(`xx:yy`)的券变成折扣率 : `1 - yy/xx`，同时建立折扣券相关的特征 `discount_rate, discount_man, discount_jian, discount_type`
# 2. 将距离 `str` 转为 `int`
# convert Discount_rate and Distance
def getDiscountType(row):
    if pd.isnull(row):
        return np.nan
    elif ':' in row:
        return 1
    else:
        return 0

def convertRate(row):
    """Convert discount to rate"""
    if pd.isnull(row):
        return 1.0
    elif ':' in str(row):
        rows = row.split(':')
        return 1.0 - float(rows[1])/float(rows[0])
    else:
        return float(row)

def getDiscountMan(row):
    if ':' in str(row):
        rows = row.split(':')
        return int(rows[0])
    else:
        return 0

def getDiscountJian(row):
    if ':' in str(row):
        rows = row.split(':')
        return int(rows[1])
    else:
        return 0
print("tool is ok.")

tool is ok.

In [15]:
def processData(df):
    # convert discunt_rate
    df['discount_rate'] = df['Discount_rate'].apply(convertRate)
    df['discount_man'] = df['Discount_rate'].apply(getDiscountMan)
    df['discount_jian'] = df['Discount_rate'].apply(getDiscountJian)
    df['discount_type'] = df['Discount_rate'].apply(getDiscountType)
    print(df['discount_rate'].unique())
    # convert distance
    df['distance'] = df['Distance'].fillna(-1).astype(int)
    return df

In [16]:
dfoff = processData(dfoff)
dftest = processData(dftest)

[1.         0.86666667 0.95       0.9        0.83333333 0.8
 0.5        0.85       0.75       0.66666667 0.93333333 0.7
 0.6        0.96666667 0.98       0.99       0.975      0.33333333
 0.2        0.4       ]
[0.83333333 0.9        0.96666667 0.8        0.95       0.75
 0.98       0.5        0.86666667 0.6        0.66666667 0.7
 0.85       0.33333333 0.94       0.93333333 0.975      0.99      ]

In [17]:
dfoff

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,discount_rate,discount_man,discount_jian,discount_type,distance
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,1.000000,0,0,NaN,0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,0.866667,150,20,1.0,1
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0.950000,20,1,1.0,0
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0.950000,20,1,1.0,0
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,0.950000,20,1,1.0,0
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0,1.000000,0,0,NaN,0
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0,0.950000,20,1,1.0,0
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,0.900000,200,20,1.0,0
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,0.900000,200,20,1.0,1
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN,0.833333,30,5,1.0,0
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN,0.950000,20,1,1.0,0
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0,1.000000,0,0,NaN,0
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0,1.000000,0,0,NaN,0
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN,0.800000,50,10,1.0,-1
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0,1.000000,0,0,NaN,1
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN,0.950000,20,1,1.0,1
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN,0.500000,10,5,1.0,2
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN,0.900000,100,10,1.0,-1
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN,0.850000,200,30,1.0,10
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN,0.900000,200,20,1.0,10
20,94107,3381,7610.0,200:20,2.0,20160412.0,NaN,0.900000,200,20,1.0,2
21,253750,8390,NaN,NaN,0.0,NaN,20160327.0,1.000000,0,0,NaN,0
22,253750,6901,2366.0,30:5,0.0,20160518.0,NaN,0.833333,30,5,1.0,0
23,253750,8390,7531.0,20:5,0.0,20160327.0,NaN,0.750000,20,5,1.0,0
24,343660,4663,11002.0,150:20,NaN,20160528.0,NaN,0.866667,150,20,1.0,-1
25,376492,1041,13490.0,30:5,2.0,20160127.0,NaN,0.833333,30,5,1.0,2
26,1964720,7884,NaN,NaN,10.0,NaN,20160115.0,1.000000,0,0,NaN,10
27,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN,0.950000,20,1,1.0,10
28,4191584,3051,NaN,NaN,0.0,NaN,20160519.0,1.000000,0,0,NaN,0
29,4191584,3051,NaN,NaN,0.0,NaN,20160516.0,1.000000,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1754854,179830,6284,4567.0,50:10,1.0,20160124.0,NaN,0.800000,50,10,1.0,1
1754855,179830,6284,7379.0,50:10,1.0,20160124.0,NaN,0.800000,50,10,1.0,1
1754856,179830,3710,13056.0,150:10,4.0,20160124.0,NaN,0.933333,150,10,1.0,4
1754857,179830,2099,12034.0,100:10,1.0,20160124.0,NaN,0.900000,100,10,1.0,1
1754858,179830,4660,1480.0,100:10,0.0,20160125.0,NaN,0.900000,100,10,1.0,0
1754859,179830,5341,7751.0,50:10,0.0,20160123.0,NaN,0.800000,50,10,1.0,0
1754860,179830,7555,17.0,30:5,7.0,20160123.0,NaN,0.833333,30,5,1.0,7
1754861,179830,760,3237.0,20:5,0.0,20160124.0,NaN,0.750000,20,5,1.0,0
1754862,179830,2099,12034.0,100:10,1.0,20160203.0,NaN,0.900000,100,10,1.0,1
1754863,343276,4206,NaN,NaN,5.0,NaN,20160425.0,1.000000,0,0,NaN,5
1754864,653784,195,NaN,NaN,0.0,NaN,20160418.0,1.000000,0,0,NaN,0
1754865,653784,195,NaN,NaN,0.0,NaN,20160416.0,1.000000,0,0,NaN,0
1754866,3795296,5341,111.0,30:5,0.0,20160129.0,NaN,0.833333,30,5,1.0,0
1754867,188086,6568,NaN,NaN,0.0,NaN,20160415.0,1.000000,0,0,NaN,0
1754868,188086,6568,NaN,NaN,0.0,NaN,20160626.0,1.000000,0,0,NaN,0
1754869,188086,6568,4723.0,30:1,0.0,20160415.0,NaN,0.966667,30,1,1.0,0
1754870,188086,6568,NaN,NaN,0.0,NaN,20160417.0,1.000000,0,0,NaN,0
1754871,188086,6568,NaN,NaN,0.0,NaN,20160604.0,1.000000,0,0,NaN,0
1754872,212662,3532,NaN,NaN,1.0,NaN,20160308.0,1.000000,0,0,NaN,1
1754873,212662,2934,5686.0,30:5,2.0,20160321.0,20160330.0,0.833333,30,5,1.0,2
1754874,212662,2934,NaN,NaN,2.0,NaN,20160513.0,1.000000,0,0,NaN,2
1754875,212662,2934,NaN,NaN,2.0,NaN,20160512.0,1.000000,0,0,NaN,2
1754876,212662,3532,5267.0,30:5,1.0,20160322.0,NaN,0.833333,30,5,1.0,1
1754877,212662,3021,3739.0,30:1,6.0,20160504.0,20160508.0,0.966667,30,1,1.0,6
1754878,212662,2934,5686.0,30:5,2.0,20160321.0,20160322.0,0.833333,30,5,1.0,2
1754879,212662,3532,NaN,NaN,1.0,NaN,20160322.0,1.000000,0,0,NaN,1
1754880,212662,3021,3739.0,30:1,6.0,20160508.0,20160602.0,0.966667,30,1,1.0,6
1754881,212662,2934,NaN,NaN,2.0,NaN,20160321.0,1.000000,0,0,NaN,2
1754882,752472,7113,1633.0,50:10,6.0,20160613.0,NaN,0.800000,50,10,1.0,6
1754883,752472,3621,2705.0,20:5,0.0,20160523.0,NaN,0.750000,20,5,1.0,0

In [20]:
# 收到优惠券的日子 去重 排序
date_received = dfoff['Date_received'].unique()
date_received = sorted(date_received[pd.notnull(date_received)])

In [37]:
# 购买商品的日子 不去重 排序
date_buy = dfoff['Date'].unique()
date_buy = sorted(date_buy[pd.notnull(date_buy)])
date_buy = sorted(dfoff[dfoff['Date'].notnull()]['Date'])

In [38]:
# 对同一天收到的优惠券聚合，计数
couponbydate = dfoff[dfoff['Date_received'].notnull()
                    ][['Date_received', 'Date']].groupby(['Date_received'], as_index=False).count()
couponbydate.columns = ['Date_received','count']

In [44]:
# 对同一天收到的优惠券，且未来被花掉了聚合，计数
buybydate_temp = dfoff[(dfoff['Date'].notnull())]
buybydate = buybydate_temp[(buybydate_temp['Date_received'].notnull())][['Date_received', 'Date']].groupby(['Date_received'], as_index=False).count()
buybydate.columns = ['Date_received','count']

In [54]:
# date对象的方法weekday()返回0-6表示周一到周日
def getWeekday(row):
    if row == 'nan': # NaN被str()才可被 ==‘nan’识别
        return np.nan
    else:
        return date(int(row[0:4]), int(row[4:6]), int(row[6:8])).weekday() + 1

dfoff['weekday'] = dfoff['Date_received'].astype(str).apply(getWeekday)
dftest['weekday'] = dftest['Date_received'].astype(str).apply(getWeekday)

In [104]:
# weekday_type :  周六和周日为1，其他为0
dfoff['weekday_type'] = dfoff['weekday'].apply(lambda x : 1 if x in [6,7] else 0 )
dftest['weekday_type'] = dftest['weekday'].apply(lambda x : 1 if x in [6,7] else 0 )

In [114]:
# change weekday to one-hot encoding 
weekdaycols = ['weekday_' + str(i) for i in range(1,8)]
# tmpdf = pd.get_dummies(dfoff['weekday'].replace('nan', np.nan))
tmpdf = pd.get_dummies(dfoff['weekday'])
tmpdf.columns = weekdaycols
dfoff[weekdaycols] = tmpdf

In [107]:
dfoff

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,discount_rate,discount_man,discount_jian,...,weekday,weekday_type,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,weekday_7,label
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,0.866667,150,20,...,6.0,1,0,0,0,0,0,1,0,0
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0.950000,20,1,...,3.0,0,0,0,1,0,0,0,0,0
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0.950000,20,1,...,6.0,1,0,0,0,0,0,1,0,0
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,0.950000,20,1,...,1.0,0,1,0,0,0,0,0,0,0
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0,0.950000,20,1,...,1.0,0,1,0,0,0,0,0,0,0
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,0.900000,200,20,...,5.0,0,0,0,0,0,1,0,0,0
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,0.900000,200,20,...,5.0,0,0,0,0,0,1,0,0,0
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN,0.833333,30,5,...,1.0,0,1,0,0,0,0,0,0,0
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN,0.950000,20,1,...,4.0,0,0,0,0,1,0,0,0,0
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN,0.800000,50,10,...,1.0,0,1,0,0,0,0,0,0,0
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN,0.950000,20,1,...,1.0,0,1,0,0,0,0,0,0,0
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN,0.500000,10,5,...,5.0,0,0,0,0,0,1,0,0,0
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN,0.900000,100,10,...,7.0,1,0,0,0,0,0,0,1,0
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN,0.850000,200,30,...,4.0,0,0,0,0,1,0,0,0,0
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN,0.900000,200,20,...,6.0,1,0,0,0,0,0,1,0,0
20,94107,3381,7610.0,200:20,2.0,20160412.0,NaN,0.900000,200,20,...,2.0,0,0,1,0,0,0,0,0,0
21,253750,8390,NaN,NaN,0.0,NaN,20160327.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
22,253750,6901,2366.0,30:5,0.0,20160518.0,NaN,0.833333,30,5,...,3.0,0,0,0,1,0,0,0,0,0
23,253750,8390,7531.0,20:5,0.0,20160327.0,NaN,0.750000,20,5,...,7.0,1,0,0,0,0,0,0,1,0
24,343660,4663,11002.0,150:20,NaN,20160528.0,NaN,0.866667,150,20,...,6.0,1,0,0,0,0,0,1,0,0
25,376492,1041,13490.0,30:5,2.0,20160127.0,NaN,0.833333,30,5,...,3.0,0,0,0,1,0,0,0,0,0
26,1964720,7884,NaN,NaN,10.0,NaN,20160115.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
27,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN,0.950000,20,1,...,1.0,0,1,0,0,0,0,0,0,0
28,4191584,3051,NaN,NaN,0.0,NaN,20160519.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
29,4191584,3051,NaN,NaN,0.0,NaN,20160516.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754854,179830,6284,4567.0,50:10,1.0,20160124.0,NaN,0.800000,50,10,...,7.0,1,0,0,0,0,0,0,1,0
1754855,179830,6284,7379.0,50:10,1.0,20160124.0,NaN,0.800000,50,10,...,7.0,1,0,0,0,0,0,0,1,0
1754856,179830,3710,13056.0,150:10,4.0,20160124.0,NaN,0.933333,150,10,...,7.0,1,0,0,0,0,0,0,1,0
1754857,179830,2099,12034.0,100:10,1.0,20160124.0,NaN,0.900000,100,10,...,7.0,1,0,0,0,0,0,0,1,0
1754858,179830,4660,1480.0,100:10,0.0,20160125.0,NaN,0.900000,100,10,...,1.0,0,1,0,0,0,0,0,0,0
1754859,179830,5341,7751.0,50:10,0.0,20160123.0,NaN,0.800000,50,10,...,6.0,1,0,0,0,0,0,1,0,0
1754860,179830,7555,17.0,30:5,7.0,20160123.0,NaN,0.833333,30,5,...,6.0,1,0,0,0,0,0,1,0,0
1754861,179830,760,3237.0,20:5,0.0,20160124.0,NaN,0.750000,20,5,...,7.0,1,0,0,0,0,0,0,1,0
1754862,179830,2099,12034.0,100:10,1.0,20160203.0,NaN,0.900000,100,10,...,3.0,0,0,0,1,0,0,0,0,0
1754863,343276,4206,NaN,NaN,5.0,NaN,20160425.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754864,653784,195,NaN,NaN,0.0,NaN,20160418.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754865,653784,195,NaN,NaN,0.0,NaN,20160416.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754866,3795296,5341,111.0,30:5,0.0,20160129.0,NaN,0.833333,30,5,...,5.0,0,0,0,0,0,1,0,0,0
1754867,188086,6568,NaN,NaN,0.0,NaN,20160415.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754868,188086,6568,NaN,NaN,0.0,NaN,20160626.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754869,188086,6568,4723.0,30:1,0.0,20160415.0,NaN,0.966667,30,1,...,5.0,0,0,0,0,0,1,0,0,0
1754870,188086,6568,NaN,NaN,0.0,NaN,20160417.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754871,188086,6568,NaN,NaN,0.0,NaN,20160604.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754872,212662,3532,NaN,NaN,1.0,NaN,20160308.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754873,212662,2934,5686.0,30:5,2.0,20160321.0,20160330.0,0.833333,30,5,...,1.0,0,1,0,0,0,0,0,0,1
1754874,212662,2934,NaN,NaN,2.0,NaN,20160513.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754875,212662,2934,NaN,NaN,2.0,NaN,20160512.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754876,212662,3532,5267.0,30:5,1.0,20160322.0,NaN,0.833333,30,5,...,2.0,0,0,1,0,0,0,0,0,0
1754877,212662,3021,3739.0,30:1,6.0,20160504.0,20160508.0,0.966667,30,1,...,3.0,0,0,0,1,0,0,0,0,1
1754878,212662,2934,5686.0,30:5,2.0,20160321.0,20160322.0,0.833333,30,5,...,1.0,0,1,0,0,0,0,0,0,1
1754879,212662,3532,NaN,NaN,1.0,NaN,20160322.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754880,212662,3021,3739.0,30:1,6.0,20160508.0,20160602.0,0.966667,30,1,...,7.0,1,0,0,0,0,0,0,1,0
1754881,212662,2934,NaN,NaN,2.0,NaN,20160321.0,1.000000,0,0,...,NaN,0,0,0,0,0,0,0,0,-1
1754882,752472,7113,1633.0,50:10,6.0,20160613.0,NaN,0.800000,50,10,...,1.0,0,1,0,0,0,0,0,0,0
1754883,752472,3621,2705.0,20:5,0.0,20160523.0,NaN,0.750000,20,5,...,1.0,0,1,0,0,0,0,0,0,0

In [115]:
tmpdf = pd.get_dummies(dftest['weekday'])
tmpdf.columns = weekdaycols
dftest[weekdaycols] = tmpdf

In [125]:
def label(row):
    if pd.isnull(row['Date_received']):
        return -1
    if pd.notnull(row['Date']):
        td = pd.to_datetime(row['Date'], format='%Y%m%d') -  pd.to_datetime(row['Date_received'], format='%Y%m%d')
        if td <= pd.Timedelta(20, 'D'):
            return 1
    return 0
dfoff['label'] = dfoff.apply(label, axis = 1)

In [126]:
# feature
original_feature_label = ['discount_rate','discount_type','discount_man', 'discount_jian','distance', 'weekday', 'weekday_type','label'] + weekdaycols
original_feature = ['discount_rate','discount_type','discount_man', 'discount_jian','distance', 'weekday', 'weekday_type'] + weekdaycols

# data split - train2train&valid
print("-----data split------")
df = dfoff[dfoff['label'] != -1].copy() # 把需要研究的对象0与1挑选出来
train = df[(df['Date_received'] < 20160516)].copy()[original_feature_label]
valid = df[(df['Date_received'] >= 20160516) & (df['Date_received'] <= 20160615)].copy()[original_feature_label]

x_train = train.iloc[:,list(range(len(train.columns)-1))]
y_train = train['label']
x_valid = valid.iloc[:,list(range(len(train.columns)-1))]
y_valid = valid['label']

print("end")

-----data split------
end

In [135]:
# tol sample
x_tol = pd.concat([x_train,x_valid],axis=0)
y_tol = pd.concat([y_train,y_valid],axis=0)

In [132]:
model = MLPClassifier(activation='tanh', 
                    solver='lbfgs',
                    alpha=1e-5,
                    hidden_layer_sizes=(len(x_train.columns)*2+1,),
                    random_state=1, 
                   )
model.fit(x_train,y_train)

MLPClassifier(activation='tanh', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(29,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [127]:
model = SGDClassifier(
    loss='log',
    penalty='elasticnet',
    fit_intercept=True,
    max_iter=100,
    shuffle=True,
    alpha = 0.01,
    l1_ratio = 0.01,
    n_jobs=1,
    class_weight=None
)
model.fit(x_train, y_train)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

SGDClassifier(alpha=0.01, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.01, learning_rate='optimal', loss='log', max_iter=100,
       n_iter=None, n_iter_no_change=5, n_jobs=1, penalty='elasticnet',
       power_t=0.5, random_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [133]:
# #### 预测以及结果评价
# print(model.score(valid[original_feature], valid['label']))

y_train_predict = model.predict(x_train)
y_valid_predict = model.predict(x_valid)

print('trainAccracy:',model.score(x_train,y_train))
print(classification_report(y_train,y_train_predict)) #真实数据在前 训练结果在后！
print('testAccracy:',model.score(x_valid,y_valid))
print(classification_report(y_valid,y_valid_predict))

trainAccracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    756558
           1       1.00      1.00      1.00     44138

   micro avg       1.00      1.00      1.00    800696
   macro avg       1.00      1.00      1.00    800696
weighted avg       1.00      1.00      1.00    800696

testAccracy: 0.999992081904777
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    228218
           1       1.00      1.00      1.00     24368

   micro avg       1.00      1.00      1.00    252586
   macro avg       1.00      1.00      1.00    252586
weighted avg       1.00      1.00      1.00    252586

In [ ]:
print("---save model---")
with open('1_model.pkl', 'wb') as f:
    pickle.dump(model, f)
with open('1_model.pkl', 'rb') as f:
    model = pickle.load(f)

In [134]:
# test prediction for submission
y_test_pred = model.predict_proba(dftest[original_feature])
dftest1 = dftest[['User_id','Coupon_id','Date_received']].copy()
dftest1['label'] = y_test_pred[:,1]
dftest1.to_csv('C:/Users/jxjsj/Desktop/tianchi/submission.csv', index=False, header=False)
dftest1.head()

   User_id  Coupon_id  Date_received         label
0  4129537       9983       20160712  9.233964e-07
1  6949378       3429       20160706  1.647855e-06
2  2166529       6928       20160727  1.843014e-07
3  2166529       1808       20160727  1.896743e-07
4  6172162       6500       20160708  5.266069e-12

In [137]:
# test prediction for submission - tol sample
model_tol = MLPClassifier(activation='tanh', 
                    solver='lbfgs',
                    alpha=1e-5,
                    hidden_layer_sizes=(len(x_tol.columns)*2+1,),
                    random_state=1, 
                   )
model_tol.fit(x_tol,y_tol)

y_test_pred = model_tol.predict_proba(dftest[original_feature])
dftest1 = dftest[['User_id','Coupon_id','Date_received']].copy()
dftest1['label'] = y_test_pred[:,1]
dftest1.to_csv('C:/Users/jxjsj/Desktop/tianchi/submission.csv', index=False, header=False)
dftest1.head()

   User_id  Coupon_id  Date_received         label
0  4129537       9983       20160712  6.520989e-09
1  6949378       3429       20160706  8.427492e-09
2  2166529       6928       20160727  6.387150e-09
3  2166529       1808       20160727  6.384778e-09
4  6172162       6500       20160708  6.403610e-09