In [17]:
import pandas as pd

In [ ]:
def cut_box(a, b):
    '''
    a : 数据总长度
    b : 所需分组数
    output: 分组label的list
    '''
    lst = []
    num_per_box = a//b
    lost = a - num_per_box*b
    for i in range(1,11):
        if i <= lost:
            lst += [i for x in range(num_per_box+1)]
        else:
            lst += [i for x in range(num_per_box)]
    return lst

In [20]:
def cut_box(a, b):
    '''
    a : 数据总长度
    b : 所需分组数
    output: 分组label的list
    '''
    lst = []
    num_per_box = a//b
    lost = a - num_per_box*b
    for i in range(1,11):
        if i <= lost:
            lst += [i for x in range(num_per_box+1)]
        else:
            lst += [i for x in range(num_per_box)]
    return pd.DataFrame(lst , columns = ['box'])

In [21]:
lst = cut_box(1358, 10)

In [22]:
lst

      box
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
...   ...
1328   10
1329   10
1330   10
1331   10
1332   10
1333   10
1334   10
1335   10
1336   10
1337   10
1338   10
1339   10
1340   10
1341   10
1342   10
1343   10
1344   10
1345   10
1346   10
1347   10
1348   10
1349   10
1350   10
1351   10
1352   10
1353   10
1354   10
1355   10
1356   10
1357   10

[1358 rows x 1 columns]

10