In [1]:
import tushare as ts
import pandas as pd
import datetime

In [10]:
def trans_d_to_m(df):
    """
    df: DataFrame 必须包含'date'列，格式为yyyy-mm-dd
    """
    dff = df
    dff['y-m'] = dff['date'].apply(lambda x : str(x)[0:7])
    df_temp = pd.DataFrame()
    df_temp['date'] = dff['date'].groupby(dff['y-m']).max()
    dff = pd.merge(left = df_temp, right = dff, how = 'inner', left_on = 'date', right_on = 'date')
    # df['return'] = df_m_return['close'].pct_change()
    return dff

In [12]:
################### test ###################
df = ts.get_k_data('600580',start = '2000-01-01',end = '2018-05-10')
print(df)
print(trans_d_to_m(df))

            date   open  close   high    low     volume    code
0     2002-06-06  3.389  3.416  3.551  3.213  252956.43  600580
1     2002-06-07  3.375  3.414  3.447  3.338   78149.83  600580
2     2002-06-10  3.412  3.357  3.412  3.355   26421.80  600580
3     2002-06-11  3.346  3.385  3.402  3.306   26021.82  600580
4     2002-06-12  3.381  3.379  3.383  3.314   14973.90  600580
5     2002-06-13  3.379  3.303  3.400  3.285   11598.80  600580
6     2002-06-14  3.283  3.193  3.301  3.187   22107.08  600580
7     2002-06-17  3.168  3.175  3.181  3.121   12227.58  600580
8     2002-06-18  3.175  3.207  3.234  3.158   12876.40  600580
9     2002-06-19  3.207  3.175  3.211  3.173    5044.39  600580
10    2002-06-20  3.168  3.168  3.256  3.164    5550.89  600580
11    2002-06-21  3.183  3.334  3.342  3.173   26220.46  600580
12    2002-06-24  3.668  3.668  3.668  3.600   62966.63  600580
13    2002-06-25  3.713  3.606  3.848  3.522   47519.69  600580
14    2002-06-26  3.608  3.715  3.872  3.580   32598.30  600580
15    2002-06-27  3.709  3.713  3.764  3.656   11865.48  600580
16    2002-06-28  3.715  3.617  3.754  3.588   15921.20  600580
17    2002-07-02  3.582  3.658  3.674  3.555    6149.56  600580
18    2002-07-03  3.637  3.631  3.676  3.608    4575.67  600580
19    2002-07-04  3.631  3.662  3.711  3.594    8230.72  600580
20    2002-07-05  3.647  3.690  3.813  3.639   20689.47  600580
21    2002-07-08  3.696  3.715  3.741  3.666    6213.81  600580
22    2002-07-09  3.725  3.696  3.750  3.682    4873.70  600580
23    2002-07-10  3.696  3.690  3.748  3.678   11815.30  600580
24    2002-07-11  3.705  3.782  3.842  3.678   27015.74  600580
25    2002-07-12  3.782  3.741  3.805  3.717    6596.92  600580
26    2002-07-15  3.754  3.774  3.911  3.741   28967.04  600580
27    2002-07-16  3.774  3.727  3.807  3.707   12831.07  600580
28    2002-07-17  3.725  3.686  3.733  3.629    8320.77  600580
29    2002-07-18  3.676  3.654  3.696  3.639    3185.50  600580
...          ...    ...    ...    ...    ...        ...     ...
3693  2018-03-23  8.210  7.890  8.310  7.680  195668.00  600580
3694  2018-03-26  7.800  8.490  8.630  7.610  190129.00  600580
3695  2018-03-27  8.510  8.610  8.740  8.490  192308.00  600580
3696  2018-03-28  8.520  8.680  8.770  8.450  162733.00  600580
3697  2018-03-29  8.750  8.640  8.800  8.560  138377.00  600580
3698  2018-03-30  8.650  8.780  8.850  8.620  159609.00  600580
3699  2018-04-02  8.800  8.740  8.850  8.670  126065.00  600580
3700  2018-04-03  8.610  8.600  8.680  8.510  107483.00  600580
3701  2018-04-04  8.640  8.490  8.720  8.450   93806.00  600580
3702  2018-04-09  8.500  8.610  8.640  8.400  107040.00  600580
3703  2018-04-10  8.600  8.510  8.650  8.400  130182.00  600580
3704  2018-04-11  8.560  8.530  8.640  8.430  103154.00  600580
3705  2018-04-12  8.470  8.400  8.530  8.300   94886.00  600580
3706  2018-04-13  8.410  8.350  8.430  8.270   69071.00  600580
3707  2018-04-16  8.410  8.470  8.490  8.310  109375.00  600580
3708  2018-04-17  8.420  8.220  8.470  8.110  132416.00  600580
3709  2018-04-18  8.240  8.310  8.350  8.160   80306.00  600580
3710  2018-04-19  8.300  8.450  8.490  8.270   73362.00  600580
3711  2018-04-20  8.430  8.340  8.450  8.200   68575.00  600580
3712  2018-04-23  8.300  8.070  8.370  7.800  135831.00  600580
3713  2018-04-24  8.010  8.210  8.270  8.010   84895.00  600580
3714  2018-04-25  8.240  8.260  8.350  8.140   70526.00  600580
3715  2018-04-26  8.300  8.540  8.650  8.270  151834.00  600580
3716  2018-04-27  8.520  8.610  8.660  8.440  120478.00  600580
3717  2018-05-02  8.690  8.720  8.800  8.480  172387.00  600580
3718  2018-05-03  8.670  8.690  8.730  8.520  151871.00  600580
3719  2018-05-04  8.660  8.720  8.800  8.560  155252.00  600580
3720  2018-05-07  8.720  8.950  8.970  8.630  234137.00  600580
3721  2018-05-08  8.920  8.900  8.970  8.820  158419.00  600580
3722  2018-05-09  8.840  8.900  8.920  8.740  126443.00  600580

[3723 rows x 7 columns]
           date    open   close    high     low     volume    code      y-m
0    2002-06-28   3.715   3.617   3.754   3.588   15921.20  600580  2002-06
1    2002-07-31   3.525   3.537   3.578   3.486    5770.96  600580  2002-07
2    2002-08-30   3.480   3.484   3.520   3.480     656.00  600580  2002-08
3    2002-09-27   3.320   3.285   3.320   3.258    2321.82  600580  2002-09
4    2002-10-31   3.082   3.062   3.101   3.050    1039.90  600580  2002-10
5    2002-11-29   2.835   2.853   2.906   2.796    4722.54  600580  2002-11
6    2002-12-31   2.579   2.493   2.616   2.483    3438.57  600580  2002-12
7    2003-01-29   2.835   2.814   2.870   2.800    5147.44  600580  2003-01
8    2003-02-28   2.865   2.925   2.929   2.847    9363.80  600580  2003-02
9    2003-03-31   3.023   3.070   3.089   3.023   12176.60  600580  2003-03
10   2003-04-30   2.647   2.631   2.688   2.615    7994.76  600580  2003-04
11   2003-05-30   2.761   2.733   2.768   2.698   14679.52  600580  2003-05
12   2003-06-30   2.444   2.444   2.482   2.441    2113.80  600580  2003-06
13   2003-07-31   2.248   2.244   2.267   2.235    1032.20  600580  2003-07
14   2003-08-29   2.130   2.181   2.184   2.111    3045.28  600580  2003-08
15   2003-09-30   2.076   2.092   2.095   2.054    1622.49  600580  2003-09
16   2003-10-31   1.905   1.918   1.956   1.902    1839.58  600580  2003-10
17   2003-11-28   1.924   1.953   1.981   1.924    3961.70  600580  2003-11
18   2003-12-31   2.000   1.981   2.023   1.975    3663.79  600580  2003-12
19   2004-01-30   2.314   2.229   2.330   2.219   14429.00  600580  2004-01
20   2004-02-27   2.314   2.340   2.346   2.298   10071.18  600580  2004-02
21   2004-03-31   2.473   2.523   2.552   2.473   22714.14  600580  2004-03
22   2004-04-30   2.253   2.253   2.282   2.205    3752.75  600580  2004-04
23   2004-05-31   2.195   2.189   2.218   2.173    1559.19  600580  2004-05
24   2004-06-30   2.031   1.973   2.034   1.967    1125.50  600580  2004-06
25   2004-07-30   1.928   1.893   1.928   1.870    2958.30  600580  2004-07
26   2004-08-31   1.925   1.918   1.931   1.893    4170.04  600580  2004-08
27   2004-09-30   1.915   1.886   1.925   1.873    3529.74  600580  2004-09
28   2004-10-29   1.912   1.925   1.951   1.844    7351.76  600580  2004-10
29   2004-11-30   1.931   1.938   1.954   1.928    1953.70  600580  2004-11
..          ...     ...     ...     ...     ...        ...     ...      ...
161  2015-12-31  15.524  15.257  15.554  15.089  136664.00  600580  2015-12
162  2016-01-29   8.747   9.469   9.548   8.747  127597.00  600580  2016-01
163  2016-02-29   9.568   8.816   9.588   8.707   96674.00  600580  2016-02
164  2016-03-31  11.566  11.537  11.735  11.398  127083.00  600580  2016-03
165  2016-04-29  10.765  10.686  10.775  10.567   89884.00  600580  2016-04
166  2016-05-31   9.934  10.389  10.389   9.934  119677.00  600580  2016-05
167  2016-06-30  11.290  11.161  11.340  11.121   96756.00  600580  2016-06
168  2016-07-29  10.056   9.956  10.056   9.906   71917.00  600580  2016-07
169  2016-08-31  10.155  10.135  10.155  10.046   51839.00  600580  2016-08
170  2016-09-30   9.787   9.757   9.837   9.677   38757.00  600580  2016-09
171  2016-10-31   9.807   9.797   9.837   9.697   53491.00  600580  2016-10
172  2016-11-30   9.856   9.817   9.876   9.767   78688.00  600580  2016-11
173  2016-12-30   9.020   9.060   9.080   8.980   25954.00  600580  2016-12
174  2017-01-26   8.552   8.612   8.642   8.552   16255.00  600580  2017-01
175  2017-02-28   8.692   8.642   8.731   8.592   54072.00  600580  2017-02
176  2017-03-31   8.343   8.343   8.363   8.273   47748.00  600580  2017-03
177  2017-04-28   7.726   7.865   7.885   7.676   40272.00  600580  2017-04
178  2017-05-31   7.109   7.009   7.109   6.999   32848.00  600580  2017-05
179  2017-06-30   6.820   6.820   6.830   6.750   73021.00  600580  2017-06
180  2017-07-31   7.520   7.510   7.570   7.460   95850.00  600580  2017-07
181  2017-08-31   7.470   7.390   7.480   7.370   46334.00  600580  2017-08
182  2017-09-29   8.150   8.190   8.290   8.100   93005.00  600580  2017-09
183  2017-10-31   8.390   8.700   8.760   8.380  446556.00  600580  2017-10
184  2017-11-30   8.120   8.040   8.180   7.980  100868.00  600580  2017-11
185  2017-12-29   8.070   8.010   8.140   7.960   97226.00  600580  2017-12
186  2018-01-31   8.350   8.040   8.350   7.950  166955.00  600580  2018-01
187  2018-02-28   7.580   7.710   7.770   7.510   81338.00  600580  2018-02
188  2018-03-30   8.650   8.780   8.850   8.620  159609.00  600580  2018-03
189  2018-04-27   8.520   8.610   8.660   8.440  120478.00  600580  2018-04
190  2018-05-09   8.840   8.900   8.920   8.740  126443.00  600580  2018-05

[191 rows x 8 columns]