In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('13918852005','jxjslsc,.?2')

auth success

In [23]:
# jq.cash_flow,jq.balance
q = jq.query(jq.income).filter(jq.income.code == '000001.XSHE')
data = jq.get_fundamentals(q, statDate='2016')

D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'id' on table <sqlalchemy.sql.selectable.Select at 0x1d3b10e5198; Select object> being replaced by Column('id', Integer(), table=<Select object>, primary_key=True, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'code' on table <sqlalchemy.sql.selectable.Select at 0x1d3b10e5198; Select object> being replaced by Column('code', String(length=12), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'day' on table <sqlalchemy.sql.selectable.Select at 0x1d3b10e5198; Select object> being replaced by Column('day', Date(), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'pubDate' on table <sqlalchemy.sql.selectable.Select at 0x1d3b10e5198; Select object> being replaced by Column('pubDate', Date(), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'statDate' on table <sqlalchemy.sql.selectable.Select at 0x1d3b10e5198; Select object> being replaced by Column('statDate', Date(), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'id' on table <sqlalchemy.sql.selectable.Select at 0x1d3b0cb3fd0; Select object> being replaced by Column('id', Integer(), table=<Select object>, primary_key=True, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'code' on table <sqlalchemy.sql.selectable.Select at 0x1d3b0cb3fd0; Select object> being replaced by Column('code', String(length=12), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'day' on table <sqlalchemy.sql.selectable.Select at 0x1d3b0cb3fd0; Select object> being replaced by Column('day', Date(), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'pubDate' on table <sqlalchemy.sql.selectable.Select at 0x1d3b0cb3fd0; Select object> being replaced by Column('pubDate', Date(), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))
D:\Anaconda3\lib\site-packages\sqlalchemy\sql\base.py:528: SAWarning: Column 'statDate' on table <sqlalchemy.sql.selectable.Select at 0x1d3b0cb3fd0; Select object> being replaced by Column('statDate', Date(), table=<Select object>, nullable=False), which has the same key.  Consider use_labels for select() statements.
  (key, getattr(existing, 'table', None), value))

In [24]:
data

Empty DataFrame
Columns: [id, code, statDate, pubDate, statDate.1, total_operating_revenue, operating_revenue, interest_income, premiums_earned, commission_income, total_operating_cost, operating_cost, interest_expense, commission_expense, refunded_premiums, net_pay_insurance_claims, withdraw_insurance_contract_reserve, policy_dividend_payout, reinsurance_cost, operating_tax_surcharges, sale_expense, administration_expense, financial_expense, asset_impairment_loss, fair_value_variable_income, investment_income, invest_income_associates, exchange_income, operating_profit, non_operating_revenue, non_operating_expense, disposal_loss_non_current_liability, total_profit, income_tax_expense, net_profit, np_parent_company_owners, minority_profit, basic_eps, diluted_eps, other_composite_income, total_composite_income, ci_parent_company_owners, ci_minority_owners, id.1, code.1, statDate.2, pubDate.1, statDate.3, goods_sale_and_service_render_cash, net_deposit_increase, net_borrowing_from_central_bank, net_borrowing_from_finance_co, net_original_insurance_cash, net_cash_received_from_reinsurance_business, net_insurer_deposit_investment, net_deal_trading_assets, interest_and_commission_cashin, net_increase_in_placements, net_buyback, tax_levy_refund, other_cashin_related_operate, subtotal_operate_cash_inflow, goods_and_services_cash_paid, net_loan_and_advance_increase, net_deposit_in_cb_and_ib, original_compensation_paid, handling_charges_and_commission, policy_dividend_cash_paid, staff_behalf_paid, tax_payments, other_operate_cash_paid, subtotal_operate_cash_outflow, net_operate_cash_flow, invest_withdrawal_cash, invest_proceeds, fix_intan_other_asset_dispo_cash, net_cash_deal_subcompany, other_cash_from_invest_act, subtotal_invest_cash_inflow, fix_intan_other_asset_acqui_cash, invest_cash_paid, impawned_loan_net_increase, net_cash_from_sub_company, other_cash_to_invest_act, subtotal_invest_cash_outflow, net_invest_cash_flow, cash_from_invest, cash_from_mino_s_invest_sub, cash_from_borrowing, cash_from_bonds_issue, other_finance_act_cash, subtotal_finance_cash_inflow, borrowing_repayment, dividend_interest_payment, proceeds_from_sub_to_mino_s, other_finance_act_payment, subtotal_finance_cash_outflow, net_finance_cash_flow, exchange_rate_change_effect, cash_equivalent_increase, ...]
Index: []

[0 rows x 188 columns]