In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('13918852005','jxjslsc,.?2')

auth success

In [25]:
# jq.cash_flow,jq.balance
q = jq.query(jq.income).filter(jq.income.code == '000001.XSHE')
data = jq.get_fundamentals(q, statDate='2016')

In [26]:
data

,id,code,statDate,pubDate,statDate.1,total_operating_revenue,operating_revenue,interest_income,premiums_earned,commission_income,...,income_tax_expense,net_profit,np_parent_company_owners,minority_profit,basic_eps,diluted_eps,other_composite_income,total_composite_income,ci_parent_company_owners,ci_minority_owners
0,49112,000001.XSHE,2016-12-31,2017-03-17,2016-12-31,1.077150e+11,1.077150e+11,1.311190e+11,NaN,3.130900e+10,...,7.336000e+09,2.259900e+10,2.259900e+10,NaN,1.32,1.32,308000000.0,2.290700e+10,NaN,NaN